In [18]:
class Car:
    pass

In [19]:
audi = Car()

In [20]:
audi.milage = 10
audi.year = 2006
audi.make = 345
audi.model = "abc"

In [21]:
audi.make

345

In [22]:
audi.milage

10

In [23]:
audi.model

'abc'

In [24]:
audi.year

2006

In [25]:
nano = Car()

In [26]:
nano.milage = 67
nano.year = 2007
nano.make = 367
nano.model = "xyz"

In [27]:
nano.make

367

In [28]:
nano.milage

67

In [29]:
nano.model

'xyz'

In [30]:
nano.year

2007

In [31]:
class Car:

    def __init__(self, milage, year, make, model):
        self.milage = milage
        self.year = year
        self.make = make
        self.model = model

In [32]:
nano1 = Car(20, 2002, 67, "abc")

In [33]:
nano1.model

'abc'

In [34]:
nano1 = Car(20, 2002, 67, "abc")
nano2 = Car(10, 2003, 69, "abcd")
nano3 = Car(30, 2004, 68, "abce")
nano4 = Car(40, 2005, 64, "abcf")
nano5 = Car(50, 2006, 65, "abcg")
nano6 = Car(60, 2007, 63, "abhc")

In [35]:
nano6.model

'abhc'

In [64]:
class Car:

    def __init__(a, m, y, ma, mo):
        a.milage = m
        a.year = y
        a.make = ma
        a.model = mo

    def age(b, current_year):
        return current_year - b.year
    
    def milage1(self):
        return ("Print the milage of the car", self.milage)

In [65]:
nano23 = Car(10, 2009, 45, "ufodhj")

In [66]:
nano23.age(2020)

11

In [67]:
nano23.milage1()

('Print the milage of the car', 10)

In [68]:
class Car:

    def __init__(self, m, y, ma, mo):
        self.milage = m
        self.year = y
        self.make = ma
        self.model = mo

    def age(self, current_year):
        self.current_year = current_year
        return self.current_year - self.year
    
    def milage1(self):
        return ("Print the milage of the car", self.milage)

In [69]:
nano23 = Car(10, 2009, 45, "ufodhj")

In [70]:
nano23.age(2020)

11

In [71]:
nano23.milage1()

('Print the milage of the car', 10)

In [74]:
print(nano23)

<__main__.Car object at 0x0000020BEDC26710>

In [79]:
class Car:

    def __init__(self, m, y, ma, mo):
        self.milage = m
        self.year = y
        self.make = ma
        self.model = mo

    def age(self, current_year):
        self.current_year = current_year
        return self.current_year - self.year
    
    def milage1(self):
        return ("Print the milage of the car", self.milage)
    

    def __str__(self):
        return "This is from class I have created"

In [80]:
nano23 = Car(10, 2009, 45, "ufodhj")

In [81]:
nano23.milage1()

('Print the milage of the car', 10)

In [82]:
print(nano23)

This is from class I have created

In [91]:
class Person:

    def __init__(self, first_name, last_name, age):
        self.first_name = first_name
        self.last_name = last_name
        self.age = age
        
    def __str__(self):
        return("This is person information")

In [92]:
person = Person("Pooja", "Sureka", 23)

In [85]:
person.first_name

'Pooja'

In [86]:
person.last_name

'Sureka'

In [89]:
person.age

23

In [93]:
print(person)

This is person information

In [116]:
class Student:

    def __init__(self, name, roll_no, joining_date, current_topic):
        self.name = name
        self.roll_no = roll_no
        self.joining_date = joining_date
        self.current_topic = current_topic

    def cur_topic(self):
        print("current topic taught in the class is", self.current_topic)

    def str_roll_no(self):

        try:
            if type(self.roll_no)== str:
                print("YES, its a string")
            else:
                return str(self.roll_no)
        except Exception as e:

            print("This is the error that occured", e)
    
    def duration(self, current_date):
        print("Duration of student in my class is ", current_date- self.joining_date, "years")

    
    def __str__(self):
        return ("This is my entier code")

In [117]:
std =  Student("pooja", 23 , 1998, "python class")

In [118]:
std.joining_date

1998

In [119]:
std.duration(2023)

Duration of student in my class is  25 years

In [120]:
print(std)

This is my entier code

In [121]:
std.roll_no

23

In [122]:
std.str_roll_no()

'23'

In [123]:
std1 =  Student("pooja", "23" , 1998, "python class")

In [126]:
std1.roll_no

'23'

In [127]:
std1.str_roll_no()

YES, its a string

In [132]:
class Calculator:

    def __init__(self, num_1, num_2):
        self.num_1 = num_1
        self.num_2 = num_2
       

    def addition(self):
        print("Addition of num_1 and num_2 is ", self.num_1 + self.num_2)
    
    def substraction(self):
        print("Substraction of num_1 and num_2 is ", self.num_1 - self.num_2)

    def multiply(self):
        print("Multiplication of num_1 and num_2 is ", self.num_1 * self.num_2)

    def division(self):
        print("Division of num_1 and num_2 is ", self.num_1 / self.num_2)

    

    
    def __str__(self):
        return ("This is my entier code")

In [133]:
num = Calculator(4,8)

In [135]:
num.addition()

Addition of num_1 and num_2 is  12

In [136]:
num.substraction()

Substraction of num_1 and num_2 is  -4

In [137]:
num.multiply()

Multiplication of num_1 and num_2 is  32

In [138]:
num.division()

Division of num_1 and num_2 is  0.5

In [148]:
class Calculator:

    def __init__(self, num_1, num_2):
        self.num_1 = num_1
        self.num_2 = num_2
       

    def addition(self):
        print("Addition of num_1 and num_2 is ", self.num_1 + self.num_2)
    
    def substraction(self):
        print("Substraction of num_1 and num_2 is ", self.num_1 - self.num_2)

    def multiply(self):
        print("Multiplication of num_1 and num_2 is ", self.num_1 * self.num_2)

    def division(self):
        print("Division of num_1 and num_2 is ", self.num_1 / self.num_2)

    

    
    def __str__(self):
        return ("This is my entier code")
    
num = Calculator(4,8)
num.addition()
num.substraction()
num.multiply()
num.division()

Addition of num_1 and num_2 is  12
Substraction of num_1 and num_2 is  -4
Multiplication of num_1 and num_2 is  32
Division of num_1 and num_2 is  0.5

In [154]:
class Calculator:

    def __init__(self):
        self.num_1 = int(input("Enter num_1: "))
        self.num_2 = int(input("Enter num_2: "))
        print("The value of num_1 is:",self.num_1)
        print("The value of num_2 is:",self.num_2)
       

    def addition(self):
        print("Addition of num_1 and num_2 is ", self.num_1 + self.num_2)
    
    def substraction(self):
        print("Substraction of num_1 and num_2 is ", self.num_1 - self.num_2)

    def multiply(self):
        print("Multiplication of num_1 and num_2 is ", self.num_1 * self.num_2)

    def division(self):
        print("Division of num_1 and num_2 is ", self.num_1 / self.num_2)

    def __str__(self):
        return ("This is my entier code")

In [155]:
num = Calculator()

The value of num_1 is: 4
The value of num_2 is: 8

In [156]:
num.addition()
num.substraction()
num.multiply()
num.division()

Addition of num_1 and num_2 is  12
Substraction of num_1 and num_2 is  -4
Multiplication of num_1 and num_2 is  32
Division of num_1 and num_2 is  0.5

In [157]:
print(num.addition())

Addition of num_1 and num_2 is  12
None

In [158]:
print(num)

This is my entier code

In [159]:
### Default constructor
class Student:
     def who(self):
          print("I am a student")

In [161]:
s1 = Student()

In [163]:
s1.who()

I am a student

In [170]:
### non parametized constructor
class Company:

    def __init__(self):
        self.name = "ineuron"
        self.address = "Bangalore"

    def show(self):
        print("name", self.name, "address", self.address)

In [171]:
com = Company()

In [172]:
com.address

'Bangalore'

In [173]:
com.name

'ineuron'

In [174]:
com.show()

name ineuron address Bangalore

In [180]:
### parametized constructor

class Public:

    def __init__(self, name, age):
        self.name = name
        self.age = age

    def age1(self):
        print("Age", self.age)

In [181]:
c1 = Public("Pooja", 23)

In [182]:
c1.age

23

In [183]:
c1.name

'Pooja'

In [185]:
c1.age1()

Age 23

### Encapsulation

In [192]:
class Public:

    def __init__(self, name, age):
        self._name = name
        self.age = age

    def age1(self):
        print("Age", self.age)

In [193]:
c1 = Public("Pooja", 23)

In [194]:
c1._name

'Pooja'

In [207]:
class Rectangle:
    __length = 0
    __breadth = 0

    def __init__(self):
        self.__length = 5
        self.__breadth = 3

        print(self.__length)
        print(self.__breadth)

In [208]:
r1 = Rectangle()

5
3

In [217]:
class Rectangle:
    ###__length = 0
    ###__breadth = 0

    def __init__(self):
        self.length = 5
        self.__breadth = 3

        print(self.length)
        print(self.__breadth)

In [218]:
r1 = Rectangle()

5
3

In [219]:
r1.length

5

In [221]:
r1.__breadth

AttributeError: 'Rectangle' object has no attribute '__breadth'

In [17]:
class Rectangle:
    ###__length = 0
    ###__breadth = 0

    def __init__(self):
        self.length = 5
        self._breadth = 3

        print(self.length)
        print(self._breadth)

In [18]:
r1 = Rectangle()

5
3

In [19]:
r1.length

5

In [21]:
r1._breadth

3

In [225]:
r1._breadth

3

In [11]:
class Rectangle:
    ###__length = 0
    ###__breadth = 0

    def __init__(self):
        self.length = 5
        self.__breadth = 3

        print(self.length)
        print(self.__breadth)
    
    def show(self):
        print("This is printing private variable", self.__breadth)

rect = Rectangle()
print(rect.length)
print(rect.bredth)

5
3
5

AttributeError: 'Rectangle' object has no attribute 'bredth'

In [6]:
rect = Rectangle()

5
3

In [7]:
rect = Rectangle()

5

In [9]:
rect.length

5

In [13]:
rect.show()

This is printing private variable 3

In [14]:
rect._Rectangle__breadth

3

In [22]:
class Test:
    def __init__(self):
        self.a = 6
        self._b = 5
        self.__c = 8

        print("public:", self.a, "protected:", self._b, "private:", self.__c)

In [23]:
t1 = Test()

public: 6 protected: 5 private: 8

In [24]:
t1.a

6

In [25]:
t1._b

5

In [26]:
t1.__c

AttributeError: 'Test' object has no attribute '__c'

In [28]:

t1._Test__c

8

In [1]:
class Test:
    def __init__(self):
        self.a = 6
        self._b = 5
        self.__c = 8

        print("public:", self.a, "protected:", self._b, "private:", self.__c)

    def show(self):
        print("protected:", self._b, "private:", self.__c)

In [2]:
t1 = Test()

public: 6 protected: 5 private: 8

In [3]:
t1.show()

protected: 5 private: 8

In [4]:
t1._Test__c

8

In [5]:
t1.Test__b

AttributeError: 'Test' object has no attribute 'Test__b'

In [36]:
t1._b

5

In [37]:
t1.__c

AttributeError: 'Test' object has no attribute '__c'

In [25]:
class Tyres:
    def __init__(self,branch,belted_bias, opt_pressure):
        self.branch = branch
        self.belted_bias = belted_bias
        self.opt_pressure = opt_pressure

    def __str__(self):
        return("Tyres: \n \tBranch" + self.branch +
               "\n \t Belted_bias" + str(self.belted_bias) +
               "\n \t optimal pressure" + str(self.opt_pressure))
    

class Engine:
    def __init__(self, fuel_type, noise_level):
        self.fuel_type = fuel_type
        self.noise_level =  noise_level

    def __str__(self):
            return("Engine: \n \tFuel type" + self.fuel_type + 
                   "\n \t Noise level:" + str(self.noise_level))
    

class Body:
     def __init__(self,size):
          self.size = size

     def __str__(self):
        return("Body: \n \t size" + self.size)
     
class Car:
     def __init__(self, tyres, engine, body):
          self.tyres = tyres
          self.engine = engine
          self.body = body

     def __str__(self):
          return (str(self.tyres) + "\n" + str(self.engine) + "\n" + str(self.body))

In [26]:
t = Tyres("banglore", True, 2.0)
e = Engine("Diesel", 3)
b = Body("Medium")

In [27]:
c = Car(t,e,b)

In [28]:
print(c)

Tyres:
 	Branchbanglore
 	 Belted_biasTrue
 	 optimal pressure2.0
Engine:
 	Fuel typeDiesel
 	 Noise level:3
Body:
 	 sizeMedium

In [29]:
print(t)

Tyres:
 	Branchbanglore
 	 Belted_biasTrue
 	 optimal pressure2.0

In [31]:
t.branch

'banglore'

In [33]:
dir(print)

['__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__self__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__text_signature__']

In [34]:
dir(print())

['__bool__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']