In [323]:
def test1():
    a = 5+6
    return a

In [324]:
test1()

11

In [325]:
def test2(a,b):
    return a+b

In [326]:
test2(1,2)

3

In [327]:
test2("pooja " , "sureka")

'pooja sureka'

In [328]:
test2(a="pooja", b=" kumari")

'pooja kumari'

In [329]:
def test3(*args):
    return args

In [330]:
test3(1,3,4,6)

(1, 3, 4, 6)

In [331]:
test3(1,3,"pooja",6,9.0, 5+7j, 8)

(1, 3, 'pooja', 6, 9.0, (5+7j), 8)

In [332]:
type(test3())

tuple

In [333]:
test3(1,3,"pooja",6,9.0, 5+7j, 8, [1,2,3], 8, (3,4,5), 1,2,3)

(1, 3, 'pooja', 6, 9.0, (5+7j), 8, [1, 2, 3], 8, (3, 4, 5), 1, 2, 3)

In [334]:
def test4(*args):
    return list(args)

In [335]:
test4(1,3,"pooja",6,9.0, 5+7j, 8, [1,2,3], 8, (3,4,5), 1,2,3)

[1, 3, 'pooja', 6, 9.0, (5+7j), 8, [1, 2, 3], 8, (3, 4, 5), 1, 2, 3]

In [336]:
type(test4())

list

In [337]:
def test5(*args):
    A = []
    for i in args:
        A.append(i)
    return A

In [338]:
test5(1,3,"pooja",6,9.0, 5+7j, 8, [1,2,3], 8, (3,4,5), 1,2,3)

[1, 3, 'pooja', 6, 9.0, (5+7j), 8, [1, 2, 3], 8, (3, 4, 5), 1, 2, 3]

In [339]:
type(test5())

list

In [340]:
def test6(*pooja):
    return list(pooja)

In [341]:
test6(1,3,4)

[1, 3, 4]

In [342]:
l = [1,3,4,5,6]
t = (1,4,6)
s = {1,4,6,7,7,6,7,6,7,6}
print(type(l))
print(type(t))
print(type(s))

<class 'list'>
<class 'tuple'>
<class 'set'>

In [343]:
d = {}

In [344]:
print(type(d))

<class 'dict'>

In [345]:
d = {1,4,5}

In [346]:
print(type(d))

<class 'set'>

In [347]:
d2 = {"key1" : "pooja", "key2" : [2,4,5,6]}

In [348]:
d2

{'key1': 'pooja', 'key2': [2, 4, 5, 6]}

In [349]:
l

[1, 3, 4, 5, 6]

In [350]:
d3 = {12345 : "pooja"}

In [351]:
d3

{12345: 'pooja'}

In [352]:
d4 = {"$pooja": "pooja"}

In [353]:
d5 = {(1,2,3): "pooja"}

In [354]:
d5

{(1, 2, 3): 'pooja'}

In [355]:
d6 = {"name": "pooja", "org": "ineuron", "mail id" : "123@gmail.com", "name": "sureka"}

In [356]:
d6

{'name': 'sureka', 'org': 'ineuron', 'mail id': '123@gmail.com'}

In [357]:
d7 = {"name": "pooja", "org": "ineuron", "mail id" : "123@gmail.com", "name1": "pooja"}

In [358]:
d7

{'name': 'pooja',
 'org': 'ineuron',
 'mail id': '123@gmail.com',
 'name1': 'pooja'}

In [359]:
d8 = {"name":"pooja", "full name": {"first name":"pooja", "middle name": "kumari"}}

In [360]:
d8

{'name': 'pooja',
 'full name': {'first name': 'pooja', 'middle name': 'kumari'}}

In [361]:
d7

{'name': 'pooja',
 'org': 'ineuron',
 'mail id': '123@gmail.com',
 'name1': 'pooja'}

In [362]:
d7["mail id"]

'123@gmail.com'

In [363]:
d8

{'name': 'pooja',
 'full name': {'first name': 'pooja', 'middle name': 'kumari'}}

In [364]:
d8["full name"]

{'first name': 'pooja', 'middle name': 'kumari'}

In [365]:
d8["full name"]["middle name"]

'kumari'

In [366]:
d7

{'name': 'pooja',
 'org': 'ineuron',
 'mail id': '123@gmail.com',
 'name1': 'pooja'}

In [367]:
d7.keys()

dict_keys(['name', 'org', 'mail id', 'name1'])

In [368]:
list(d7.keys())

['name', 'org', 'mail id', 'name1']

In [369]:
d7.values()

dict_values(['pooja', 'ineuron', '123@gmail.com', 'pooja'])

In [370]:
list(d7.values())

['pooja', 'ineuron', '123@gmail.com', 'pooja']

In [371]:
d7.items()

dict_items([('name', 'pooja'), ('org', 'ineuron'), ('mail id', '123@gmail.com'), ('name1', 'pooja')])

In [372]:
list(d7.items())

[('name', 'pooja'),
 ('org', 'ineuron'),
 ('mail id', '123@gmail.com'),
 ('name1', 'pooja')]

In [373]:
d8

{'name': 'pooja',
 'full name': {'first name': 'pooja', 'middle name': 'kumari'}}

In [374]:
list(d8["full name"].values())

['pooja', 'kumari']

In [375]:
### function that will return all the values which are stored in a form of dictionary

l = []
for i in d8.keys():
    if type(d8[i]) == dict:
        l.append(list(d8[i].values()))
        print(l)

[['pooja', 'kumari']]

In [376]:
l

[['pooja', 'kumari']]

In [377]:
d9 = {"name":"pooja", "full name": {"first name":"pooja", "middle name": "kumari"}, "mail id": {"abc":"123@gmail.com", "def":"456@gmail.com"}}

In [378]:
d9

{'name': 'pooja',
 'full name': {'first name': 'pooja', 'middle name': 'kumari'},
 'mail id': {'abc': '123@gmail.com', 'def': '456@gmail.com'}}

In [379]:
### function that will return all the values which are stored in a form of dictionary
l = []
for i in d9.keys():
    if type(d9[i]) == dict:
        l.append(list(d9[i].values()))
        print(l)

[['pooja', 'kumari']]
[['pooja', 'kumari'], ['123@gmail.com', '456@gmail.com']]

In [380]:
def dictionary(d):
    l = []
    for i in d.keys():
        if type(d[i]) == dict:
            l.append(list(d[i].values()))
    return l

In [381]:
dictionary(d9)

[['pooja', 'kumari'], ['123@gmail.com', '456@gmail.com']]

In [382]:
dictionary(d8)

[['pooja', 'kumari']]

In [383]:
d8

{'name': 'pooja',
 'full name': {'first name': 'pooja', 'middle name': 'kumari'}}

In [384]:
d8["mobile number"] = (1,2,3,4)

In [385]:
d8

{'name': 'pooja',
 'full name': {'first name': 'pooja', 'middle name': 'kumari'},
 'mobile number': (1, 2, 3, 4)}

In [386]:
d8["name"] = "pooja sureka"

In [387]:
d8

{'name': 'pooja sureka',
 'full name': {'first name': 'pooja', 'middle name': 'kumari'},
 'mobile number': (1, 2, 3, 4)}

In [388]:
d7

{'name': 'pooja',
 'org': 'ineuron',
 'mail id': '123@gmail.com',
 'name1': 'pooja'}

In [389]:
d7

{'name': 'pooja',
 'org': 'ineuron',
 'mail id': '123@gmail.com',
 'name1': 'pooja'}

In [390]:
del d7["name1"]

In [391]:
d7

{'name': 'pooja', 'org': 'ineuron', 'mail id': '123@gmail.com'}

In [392]:
d7.pop("mail id")

'123@gmail.com'

In [393]:
d7

{'name': 'pooja', 'org': 'ineuron'}

In [394]:
d7["mail id"] = "123@gmail.com"

In [395]:
d7

{'name': 'pooja', 'org': 'ineuron', 'mail id': '123@gmail.com'}

In [396]:
d7["name1"] = "pooja"

In [397]:
d7

{'name': 'pooja',
 'org': 'ineuron',
 'mail id': '123@gmail.com',
 'name1': 'pooja'}

In [398]:
def test1(**kwargs):
    return kwargs

In [399]:
test1(name = "pooja", a = 7, sureka = [1,3,5])

{'name': 'pooja', 'a': 7, 'sureka': [1, 3, 5]}

In [400]:
def test2(**pooja):
    return pooja

In [401]:
test2(a = "pooja", b = "sureka")

{'a': 'pooja', 'b': 'sureka'}

In [402]:
test2(b = "pooja", m = 23423)

{'b': 'pooja', 'm': 23423}

In [403]:
### function within a function

In [404]:
def test3(a):
    return a

def test4(b):
    return b

def test5(func):
    return func("pooja")

In [405]:
test5(test3)

'pooja'

In [406]:
test5(test4)

'pooja'

In [407]:
def test3(a):
    return a

def test4(*args):
    return "pooja"

def test5(func):
    return func("pooja")

In [408]:
test5(test3)

'pooja'

In [409]:
test5(test4)

'pooja'

In [410]:
def test6(a):
    print("this is my test6")

    def test7():
        print("this is my test7")

    def test8():
        print("this is my test8")

    if a == "pooja":
        return test7()
    elif a == "sureka":
        return test8()

In [411]:
test6("kumari")

this is my test6

In [412]:
test6("pooja")

this is my test6
this is my test7

In [413]:
test6("sureka")

this is my test6
this is my test8

In [414]:
def test4(*args):
   print("this is a return of test4")

In [415]:
def test9(func):
    def test10():
        print("i am inside test10")
        func()
    return test10()

In [416]:
test9(test4)

i am inside test10
this is a return of test4

In [417]:
def test9(func):
    def test10():
        print("i am inside test10")
        ###func()
    return test10()

In [418]:
test9(test4)

i am inside test10

In [419]:
def test9():
    def test10():
        print("i am inside test10")
    return test10()

In [420]:
test9()

i am inside test10

In [421]:
def test9(func):
    def test10():
        print("i am inside test10")
        func()
    return test10()

In [422]:
test9(test4)

i am inside test10
this is a return of test4

In [423]:
### decorators

In [424]:
import os
def test9(func):
    def test10():
        print("i am inside test10 and this will behave a decorator to any function that i am going to call ")
        print(os.getcwd())
        func()
    return test10

In [425]:
def test11():
    print("this is my test11")

In [426]:
test11()

this is my test11

In [427]:
test9(test11)

In [428]:
@test9
def test11():
    print("this is my test11")

In [429]:
test11()

i am inside test10 and this will behave a decorator to any function that i am going to call
d:\PYTHON iNeuron\Learning Python
this is my test11

In [430]:
pwd()

'd:\\PYTHON iNeuron\\Learning Python'

In [431]:
def test12(func):
    def test13():
        func()
        print(os.getcwd())
    return test13

In [432]:
def test14():
    print("this will print inside test14")

In [433]:
test14()

this will print inside test14

In [434]:
@test9
@test12
def test14():
    print("this will print inside test14")

In [435]:
test14()

i am inside test10 and this will behave a decorator to any function that i am going to call
d:\PYTHON iNeuron\Learning Python
this will print inside test14
d:\PYTHON iNeuron\Learning Python

In [443]:
import time

In [444]:
import time

start = time.time()
print("hello")
end = time.time()

print(end-start)

hello
0.0

In [457]:
def test15(func):
    def test16():
        print("this will give you execution time of a function")
        start = time.time()
        print(start)
        func()
        print(func())
        end = time.time()
        print(end)
        print(end-start)
    return test16

In [460]:
@test15
def test17():
    """ 
    this is a fuction which will take a decorator for calculating a execution timing of a function
    """
    l = [4,5,6,7,8,"pooja"]
    l1 = []
    for i in l:
        if type(i) == int:
            l1.append(i)
    return l1

In [459]:
test17()

this will give you execution time of a function
1686926596.2984064
[4, 5, 6, 7, 8]
1686926596.2984064
0.0

In [463]:
start = time.time()
print("hi")

hi

In [461]:
test17()

this will give you execution time of a function
1686926878.2352655
[4, 5, 6, 7, 8]
1686926878.2352655
0.0