In [1]:
a = "pooja"

In [2]:
len(a)

5

In [3]:
l = [2,3,4,5, "pooja", 4.67]

In [4]:
len(l)

6

In [3]:
def test():
    pass

In [4]:
def test1():
    print("This is my very first function in python")

In [5]:
test1()

This is my very first function in python

In [6]:
a = 1

In [8]:
b = test1()

This is my very first function in python

In [9]:
b

In [10]:
print(b)

None

In [11]:
c = "pooja"

In [12]:
type(c)

str

In [13]:
type(b)

NoneType

In [14]:
type(test1())

This is my very first function in python

NoneType

In [15]:
def test2():
    return 5

In [16]:
test2()

5

In [18]:
d = test2()

In [19]:
d

5

In [21]:
type(print("pooja"))

pooja

NoneType

In [28]:
def test3():
    return 5

In [30]:
def test4():
    print("this is my print return")

In [29]:
test3()

5

In [31]:
test4()

this is my print return

In [34]:
e = test4()

this is my print return

In [39]:
def test3():
    return "pooja"

In [41]:
test3() + " sureka"

'pooja sureka'

In [46]:
def test5():
    print("This is my python code")

In [48]:
def test6():
    return 1,3, [3,4,5,"pooja"],(3,4,5)

In [51]:
test6()

(1, 3, [3, 4, 5, 'pooja'], (3, 4, 5))

In [54]:
type(test6())

tuple

In [55]:
test6()[1]

3

In [57]:
test6()[2]

[3, 4, 5, 'pooja']

In [58]:
def test7():
    return 1,3, [3,4,5,"pooja"],(3,4,5,6)

In [59]:
test7()

(1, 3, [3, 4, 5, 'pooja'], (3, 4, 5, 6))

In [60]:
a,b,c,d = test7()

In [61]:
a

1

In [62]:
b

3

In [71]:
c

'pooja'

In [64]:
d

(3, 4, 5, 6)

In [65]:
a = 1
b = 3
c = "pooja"

In [66]:
a,b,c = 1,3, "pooja"

In [68]:
c

'pooja'

In [72]:
def test8():
    a = 4*5+8
    return a

In [74]:
test8()

28

In [78]:
test8() + 8

36

In [79]:
type(test8())

int

In [81]:
l = [2,3,4,5,6,7,8,9]
sum = 0

for i in l:
    sum  = sum + i
print(sum)

44

In [82]:
def test9():
    l = [2,3,4,5,6,7,8,9]
    sum = 0
    for i in l:
        sum = sum + i
    return sum

In [83]:
test9()

44

In [87]:
def test10():
    l = [2,3,4,5,6,7,8,9, "pooja"]
    sum = 0
    for i in l:
        if type(i) == int:
            sum = sum + i
    return sum

In [88]:
test10()

44

In [89]:
l1 = [4,5,6,7,7,8,"pooja", 4.56]

In [92]:
def test11():
    l1 = [4,5,6,7,7,8,"pooja", 4.56]
    sum = 0
    for i in l1:
        if type(i) == int or type(i) == float:
            sum = sum + i
    return sum

In [93]:
test11()

41.56

In [94]:
def test12(l):
    sum = 0
    for i in l:
        if type(i) == int or type(i) == float:
            sum = sum + i
    return sum

In [98]:
test12(l)

44

In [100]:
test12(l1)

41.56

In [103]:
a = [12,2]

test12(a)

14

In [108]:
def test13(a,b):
    return a+b

In [109]:
test13(1,3)

4

In [110]:
test13(a=1,b=9)

10

In [111]:
test13(b=9, a=7)

16

In [114]:
test13("pooja", " sureka")

'pooja sureka'

In [115]:
test13("pooja ", "sureka")

'pooja sureka'

In [123]:
l = [3,4,5,6,7,8,"pooja",5,6,7,"kumari", 8,9,10,"sureka"]

In [128]:
def test14(l):
    A = []
    for i in l:
        if type(i) == str:
            A.append(i)
    return A

In [129]:
test14(l)

['pooja', 'kumari', 'sureka']

In [8]:
l = [3,4,5,6,7,8,"pooja",5,6,7,"kumari", 8,9,10,"sureka"]

In [11]:
l1 = []

for i in l:
    if type(i) == str:
        l1.append(i)

print(l1)

['pooja', 'kumari', 'sureka']

In [10]:
l1

['pooja', 'kumari', 'sureka']

In [140]:
l = [3,4,5,6,7,8,"pooja",5,6,7,"kumari", 8,9,10,"sureka"]

In [5]:
def test14(l):
    A = []
    for i in l:
        if type(i) == str:
            A.append(i)
    return A

In [143]:
l2 = [1,"pooja"]

test14(l2)

['pooja']

In [1]:
def test15():
    l = [3,4,5,6,7,8,"pooja",5,6,7,"kumari", 8,9,10,"sureka"]
    A = []
    for i in l:
        if type(i) == str:
            A.append(i)
    return A

In [4]:
l = [1,3,5]
sum(l)

9

In [21]:
l = [3,4,5,6,7,8,"pooja",5,6,7,"kumari", 8,9,10,"sureka"]
def test15(l):
    """ This is my function which will help you to seperate a string from a list into a new list"""
    A = []
    for i in l:
        if type(i) == str:
            A.append(i)
    return A

In [13]:
test15(l)

['pooja', 'kumari', 'sureka']

In [15]:
l2 = ["ineuron", 8, 9, "ineuron", "ineuron"]
test15(l2)

['ineuron', 'ineuron', 'ineuron']

In [16]:
len("pooja")

5

In [18]:
print(2)

2

In [28]:
test15(l2)

['ineuron', 'ineuron', 'ineuron']

In [29]:
len("pooja")

5

In [34]:
l = [1,23,5]
def length(l):
    """Will help in finding the length of a function"""
    count = 0
    for i in l:
        count = count + 1
    return count

In [35]:
length(l)

3

In [41]:
l2 = "pooja kumari sureka"

In [42]:
length(l2)

19

In [44]:
l2 = [1,2,3,4,5,6,7,8,9]
length(l2)

9