In [3]:
def test1(func):
    def test2():
        print("i am inside test2")
        func()
        print(func())
        print("function executed")
        return func()
    return test2

In [4]:
@test1
def test3():
    print ("this is my test3")

In [5]:
test1(test3())

i am inside test2
this is my test3
this is my test3
None
function executed
this is my test3

In [6]:
type(test3())

i am inside test2
this is my test3
this is my test3
None
function executed
this is my test3

NoneType

In [7]:
@test1
def test4():
    return 5+6

In [8]:
test4()

i am inside test2
11
function executed

11

In [9]:
type(test4())

i am inside test2
11
function executed

int

In [10]:
test4() + 56

i am inside test2
11
function executed

67

In [11]:
a = test4()

i am inside test2
11
function executed

In [12]:
a

11

In [13]:
print(a)

11

In [14]:
def test5():
    return 4+5

In [15]:
type(test5())

int

In [16]:
test5() + 45

54

In [17]:
def test6(func):
    def test7():
        func()
        print("this is my decorator function")
    return test7

In [18]:
def test8():
    return 5+7

In [19]:
test8() + 12

24

In [20]:
def test6(func):
    def test7():
        func()
        print(func())
        print("this is my decorator function")
        return func()
    return test7

In [21]:
@test6
def test8():
    return 5+7

In [22]:
test8()

12
this is my decorator function

12

In [23]:
test8() + 100

12
this is my decorator function

112

In [24]:
type(test8())

12
this is my decorator function

int

In [25]:
a = test8()

12
this is my decorator function

In [26]:
a

12

In [27]:
def test6(func):
    def test7(*args,**kwargs):
        func(*args,**kwargs)
        print(func(*args,**kwargs))
        print("this is my decorator function")
        return func(*args,**kwargs)
    return test7

In [28]:
@test6
def test8(a,b,c,d):
    return a+b+c+d

In [29]:
test8("pooja ", "kumari ", " sureka", " ---")

pooja kumari  sureka ---
this is my decorator function

'pooja kumari  sureka ---'

In [30]:
@test6
def test9(**kwargs):
    return kwargs

In [31]:
test9(a= 67, b = 90)

{'a': 67, 'b': 90}
this is my decorator function

{'a': 67, 'b': 90}

In [32]:
def test9(**kwargs):
    return kwargs

In [33]:
test9(a=90,b=87)

{'a': 90, 'b': 87}

In [34]:
### lambda

In [35]:
def test10(a,b):
    return a+b

In [36]:
test10(1,2)

3

In [37]:
test10("pooja", " sureka")

'pooja sureka'

In [38]:
lambda a , b : a + b

In [39]:
c = lambda a , b : a + b

In [40]:
test10

In [41]:
c("pooja", " kumari")

'pooja kumari'

In [42]:
d = lambda a,b,c,d : a*b+c/d

In [43]:
d(3,4,5,6)

12.833333333333334

In [44]:
e = lambda *args: args

In [45]:
e

In [46]:
e()

()

In [47]:
e(3,7,8)

(3, 7, 8)

In [48]:
### map()

In [49]:
l = [1,2,3,4,5,6,7]

In [50]:
### output

l = [11,12,13,14,15,16,17]

In [51]:
### by using for loop
l = [1,2,3,4,5,6,7]
l1 = []
for i in l:
    l1.append(10 + i)

print(l1)

[11, 12, 13, 14, 15, 16, 17]

In [52]:
def test14(a):
    return a+10

In [53]:
list(map(test14, l))

[11, 12, 13, 14, 15, 16, 17]

In [54]:
list(map(lambda a: a+10, l))

[11, 12, 13, 14, 15, 16, 17]

In [55]:
n = lambda a:a+10

In [56]:
list(map(n,l))

[11, 12, 13, 14, 15, 16, 17]

In [57]:
l = ["pooja", "kumari", "sureka"]

In [58]:
l = ["pooja", "kumari", "sureka"]
l1 = []
for i in l:
    l1.append(i.upper())

print(l1)

['POOJA', 'KUMARI', 'SUREKA']

In [59]:
l1

['POOJA', 'KUMARI', 'SUREKA']

In [60]:
list(map(lambda a: a.upper(), l))

['POOJA', 'KUMARI', 'SUREKA']

In [61]:
list(map(str.upper, l))

['POOJA', 'KUMARI', 'SUREKA']

In [62]:
def upper_string(a):
    return a.upper()

In [63]:
list(map(upper_string, l))

['POOJA', 'KUMARI', 'SUREKA']

In [64]:
list(map(len, l))

[5, 6, 6]

In [65]:
list(map(lambda a: len(a), l))

[5, 6, 6]

In [66]:
def test23(a):
    return len(a)

In [67]:
list(map(test23,l))

[5, 6, 6]

In [68]:
l = [1,2,3,4,5,6,7,8]

In [69]:
l = [1,2,3,4,5,6,7,8]
l1 = []
for i in l:
    if i%2 ==0:
        l1.append(i)
            
print(l1)

[2, 4, 6, 8]

In [70]:
[i for i in l if i%2==0]

[2, 4, 6, 8]

In [71]:
def test24(a):
    l = []
    if type(a) == list:
        for i in a:
            if i%2==0:
                l.append(i)
    return l

In [72]:
test24(l)

[2, 4, 6, 8]

In [73]:
a = lambda a : a if a % 2 == 0 else None

In [74]:
list(map(a,l))

[None, 2, None, 4, None, 6, None, 8]

In [75]:
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [76]:
list(filter(a,l))

[2, 4, 6, 8]

In [77]:
def test25(a):
    if a%2 ==0:
        return True
    else:
        return False

In [78]:
test25(67)

False

In [79]:
test25(24)

True

In [80]:
list(filter(test25, l))

[2, 4, 6, 8]

In [81]:
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [82]:
def test25(a):
    if a%2 ==0:
        return False
    else:
        return True

In [83]:
list(filter(test25, l))

[1, 3, 5, 7]

In [84]:
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [85]:
l2 = [1,2,3,4,5,6,7,8]

In [86]:

sum(l2)

36

In [87]:
l = [1,2,3]
sum = 0
for i in l:
    sum = sum + i
print(sum)

6

In [88]:
l = [1,2,3,4,5,6,7,8,9,10]

In [89]:
from functools import reduce

In [90]:
reduce(lambda a,b : a*b, l)

3628800

In [91]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [92]:
l1 = [3]
reduce(lambda a,b : a*b, l1)

3

In [93]:
def test26() -> int:
        """This is my doc string to give a hint to next programmer """
        return "this is my function"

In [94]:
test26()

'this is my function'

In [95]:
def test26(a:int,b:"function", c = 234) -> int:
        """This is my doc string to give a hint to next programmer """
        return a+b+c

In [96]:
test26(4,7)

245

In [97]:
def test26(a:int,b:"function", c:int = 234) -> int:
        """This is my doc string to give a hint to next programmer """
        return a+b+str(c)

In [98]:
test26("pooja", " sureka ")

'pooja sureka 234'

In [102]:
test26("2 ", "8 ", "1")

'2 8 1'

In [ ]:
test26("pooja", " sureka ", 90)

'pooja sureka 90'