33.decorator that logs the date and time

In [4]:
from datetime import datetime

def log_datetime(func):
     
     def wrapper():
        print(f'function: {func.__name__} \nRun on {datetime.today().strftime("%Y-%m-%d %H:%M:%S")}')
        print(f'{"-"*30}')
        func()
     return wrapper

@log_datetime
def daily_backup():
    print("Daily backup job has finished")

In [5]:
daily_backup()

function: daily_backup
Run on 2023-06-28 13:08:31
------------------------------
Daily backup job has finished

34.Program to Get Data Items From a List Appearing Odd Number of Times

In [9]:

l = [2,2,1,3,7,8,9]
l1 = []
for i in l:
    if l.count(i)%2 !=0:
        l1.append(i)
print(l1)

[1, 3, 7, 8, 9]

In [18]:
l = list()
print(l)
n = int(input())
print(n)
odd_list = list()
for i in range(n):
    temp =  int(input("Input: "))
    l.append(temp)
for i in l:
    if l.count(i)%2 !=0:
        if i not in odd_list:
            odd_list.append(i)
print(odd_list)

[]
7
[1, 3, 7, 8, 9]

In [19]:

l = [1,2,3,4,5,1,3,3,4]
l1 = []
for i in l:
    if l.count(i)%2 !=0:
        l1.append(i)
print(l1)

[2, 3, 5, 3, 3]

In [20]:

x = [1,2,3,4,5,1,3,3,4]
l1 = []
for i in x:
    if x.count(i)%2 !=0:
        if i not in l1:
            l1.append(i)
print(l1)

[2, 3, 5]

In [21]:
x = [1,2,3,4,5,1,3,3,4]
l1 = []
for i in x:
    if x.count(i)%2 ==0:
        if i not in l1:
            l1.append(i)
print(l1)

[1, 4]

35.What are decorators in Python?

In [ ]:
### A decorator is a design pattern in Python that allows a user to add new functionality to an existing object without modifying its structure.
###  Decorators are usually called before the definition of a function you want to decorate.

In [26]:

### decorator function to convert to lowercase
def lowercase_dec(function):
    def wrapper():
        func = function()
        string_lowercase = func.lower()
        return string_lowercase
    return wrapper

### decorator function to split words
def splitter_dec(function):
    def wrapper():
        func = function()
        string_split = func.split()
        return string_split
    return wrapper

In [27]:
@splitter_dec
@lowercase_dec

def hello():
    return "Hello world"

In [28]:
hello()

['hello', 'world']

36. remove items from a list while iterating but without creating a different copy of a list.
Remove numbers greater than 50
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Expected Output: [10, 20, 30, 40, 50]

In [75]:
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

for i in number_list:
    if i <=50:         
        print(i)

10
20
30
40
50

In [74]:
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

for i in number_list:
    if i <=50:         
        print(i, end = " ")

10 20 30 40 50

In [36]:
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
number_list = [ele for ele in number_list if ele<=50]
print(number_list)

[10, 20, 30, 40, 50]

In [37]:
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
i = 0
n = len(number_list)
while i<n:
    if number_list[i] > 50:
        del number_list[i]
        n = n-1
    else:
        i = i+1
print(number_list)

[10, 20, 30, 40, 50]

37.  Display all duplicate items from a list
sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
Expected Output: [20, 60, 30]

In [40]:
sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
l = []
for i in sample_list:
    if sample_list.count(i) > 1:
        if i not in l:
             l.append(i)
print(l)

[20, 60, 30]

In [41]:
sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
l = []
for i in sample_list:
    if sample_list.count(i) > 1:
             l.append(i)
print(set(l))

{20, 60, 30}

In [47]:
import collections

sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]

duplicates = []

for item,count in collections.Counter(sample_list).items():
    if count > 1:
             duplicates.append(item)
print(duplicates)

[20, 60, 30]

38. Create an outer function that will accept two strings, x and y. (x= 'Emma' and y = 'Kelly'.
Create an inner function inside an outer function that will concatenate x and y.
At last, an outer function will join the word 'developer' to it.

In [48]:
def manipulate(x,y):
    def inner_func(x,y):
        return x + y
    z = inner_func(x,y) 
    return z + " developer"

In [49]:
result = manipulate("Emma ","Kelly")
print(result)

Emma Kelly developer

39. Modify the element of a nested list inside the following list
Change the element 35 to 3500
list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]

In [62]:
list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]

In [63]:
list1[1][2][2][1] = 3500

[5, [10, 15, [20, 25, [30, 3500], 40], 45], 50]

In [64]:
list1

[5, [10, 15, [20, 25, [30, 3500], 40], 45], 50]

40.  Access the nested key increment from the following dictionary
Access 12
emp_dict = {
    "company": {
        "employee": {
            "name": "Jess",
            "payable": {
                "salary": 9000,
                "increment": 12
            }
        }
    }
}

In [65]:
emp_dict = {
    "company": {
        "employee": {
            "name": "Jess",
            "payable": {
                "salary": 9000,
                "increment": 12
            }
        }
    }
}

In [67]:
emp_dict["company"]["employee"]["payable"]["increment"]

12

41. Print the sum of the current number and the previous number
Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.
Printing current and previous number sum in a range(10)
Current Number 0 Previous Number  0  Sum:  0
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17

In [69]:
sum = 0
previous = 0
for i in range(0,10):
    sum = i + previous
    print(f"Current Number {i} Previous Number {previous} Sum: {sum}")
    previous = i

Current Number 0 Previous Number 0 Sum: 0
Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17

42. Print characters from a string that are present at an even index number
Write a program to accept a string from the user and display characters that are present at an even index number.

For example, str = "ineuron" so you should display ‘i’, ‘e’, ‘r’, ‘n’.

In [73]:
string = input("Enter a string: ")
print(string)

for i in range(len(string)):
    if i%2 == 0:
        print(string[i], end = " ")

ineuron
i e r n

In [80]:
string = input("Enter a string: ")
print(string)

for i in range(0,len(string),2):
        print(string[i], end = " ")

ineuron
i e r n

In [76]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [77]:
x = "hello"

In [79]:
for i in range(len(x)):
    print(i, x[i])

0 h
1 e
2 l
3 l
4 o

43. Print multiplication table form 1 to 10
1  2 3 4 5 6 7 8 9 10 		
2  4 6 8 10 12 14 16 18 20 		
3  6 9 12 15 18 21 24 27 30 		
4  8 12 16 20 24 28 32 36 40 		
5  10 15 20 25 30 35 40 45 50 		
6  12 18 24 30 36 42 48 54 60 		
7  14 21 28 35 42 49 56 63 70 		
8  16 24 32 40 48 56 64 72 80 		
9  18 27 36 45 54 63 72 81 90 		
10 20 30 40 50 60 70 80 90 100

In [4]:
for i in range(1,11):
    for j in range(1,11):
        c = i*j

        print(f"{c} ", end = " ")
    print("\n")

1  2  3  4  5  6  7  8  9  10

2  4  6  8  10  12  14  16  18  20

3  6  9  12  15  18  21  24  27  30

4  8  12  16  20  24  28  32  36  40

5  10  15  20  25  30  35  40  45  50

6  12  18  24  30  36  42  48  54  60

7  14  21  28  35  42  49  56  63  70

8  16  24  32  40  48  56  64  72  80

9  18  27  36  45  54  63  72  81  90

10  20  30  40  50  60  70  80  90  100

44. Remove duplicates from a list and create a tuple and find the minimum and maximum number
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]
Expected Outcome:
unique items [87, 45, 41, 65, 99]
tuple (87, 45, 41, 65, 99)
min: 41
max: 99

In [2]:
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]

unique_items = []

for i in sample_list:
    if sample_list.count(i) ==1:
        unique_items.append(i)
print(unique_items)

[87, 45, 65, 99]

In [3]:
tuple(unique_items)

(87, 45, 65, 99)

In [6]:
print(min(unique_items))
print(max(unique_items))

45
99

45. Write a Python program to create a lambda function that adds 15 to a given number passed in as an argument,
also create a lambda function
that multiplies argument x with argument y and print the result.

In [7]:
add = lambda x: x+15
print("Addition: ", add(2))
mul = lambda x,y : x*y
print("Multiplication: ", mul(15,2))

Addition:  17
Multiplication:  30

46. Write a Python program to sort a list of tuples using Lambda.

In [9]:
sortlist = lambda x:sorted(x)
l = [(3,"t"), (2,"r"), (4, "x")]
l1 = [9,6,5,3,6,7]
sortlist(l)

[(2, 'r'), (3, 't'), (4, 'x')]

In [10]:
sortlist(l1)

[3, 5, 6, 6, 7, 9]

In [11]:
subject_marks = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
print("Original list of tuples:")
print(subject_marks)
subject_marks.sort(key = lambda x: x[1])
print("\nSorting the List of Tuples:")
print(subject_marks)

Original list of tuples:
[('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]

Sorting the List of Tuples:
[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

47. Write a Python program to extract year, month, date and time using Lambda.

In [12]:
import datetime
now = datetime.datetime.now()
print(now)
year = lambda x: x.year
month = lambda x: x.month
day = lambda x: x.day
t = lambda x: x.time()
print(year(now))
print(month(now))
print(day(now))
print(t(now))

2023-08-14 18:53:06.283027
2023
8
14
18:53:06.283027

In [15]:
x = lambda a: a+10
x(3)

13

In [16]:
sol = lambda a,b,c : b**2 - (4*a*c)
print(sol(2,3,4))

-23

48. Write a Python program to count the even, odd numbers in a given array of integers using Lambda.

In [13]:
array_nums = [1, 2, 3, 5, 7, 8, 9, 10]
print("Original arrays:")
print(array_nums)
odd_ctr = len(list(filter(lambda x: (x%2 != 0) , array_nums)))
even_ctr = len(list(filter(lambda x: (x%2 == 0) , array_nums)))
print("\nNumber of even numbers in the above array: ", even_ctr)
print("\nNumber of odd numbers in the above array: ", odd_ctr)

Original arrays:
[1, 2, 3, 5, 7, 8, 9, 10]

Number of even numbers in the above array:  3

Number of odd numbers in the above array:  5

In [25]:
def addition(n):
    return n+n

In [26]:
numbers = [1,2,3,4,5]

In [27]:
result = map(addition, numbers)

In [29]:
print(list(result))

[2, 4, 6, 8, 10]

49. Write a Python program to convert all the characters in uppercase and lowercase and eliminate duplicate letters from a given sequence.
Use map() function.

In [30]:
def test(s):
  return str(s).upper(), str(s).lower()

chars=["a", "E", "N", "c", "a" , "m", "n"]

In [31]:
result = map(test,chars)

In [34]:
print(list(result))

[('A', 'a'), ('E', 'e'), ('N', 'n'), ('C', 'c'), ('A', 'a'), ('M', 'm'), ('N', 'n')]

50.  Write a Python program to square the elements of a list using map() function.

In [37]:
def square(n):
  return n * n
nums = [4, 5, 2, 9, 7, 9, 3]
result = map(square, nums)
print(list(result))

[16, 25, 4, 81, 49, 81, 9]

In [14]:
##### 
def ShortestDistance(A):
    B = []
    for i in A:
       B.append(abs(i))
    min_value = min(B)
    index_min_value = B.index(min_value)
    number = A[B.index(min_value)]
    return number

In [18]:
A = [20,5,9, 10, -4,-9,-10]
ShortestDistance(A)

-4