In [121]:
A = [1,2,3,4,5]

In [122]:
A[0]

1

In [75]:
A = [1,2,3,"pooja",5, 1+2j, True]

In [76]:
A[3]

'pooja'

In [77]:
A[5]

(1+2j)

In [78]:
A[6]

True

In [79]:
for i in A:
    print(i)

1
2
3
pooja
5
(1+2j)
True

In [80]:
for i in range(len(A)):
    print(A[i])

1
2
3
pooja
5
(1+2j)
True

In [81]:
for i in range(len(A)):
    print(f" value = {A[i]} and datatype = {type(A[i])}")

 value = 1 and datatype = <class 'int'>
 value = 2 and datatype = <class 'int'>
 value = 3 and datatype = <class 'int'>
 value = pooja and datatype = <class 'str'>
 value = 5 and datatype = <class 'int'>
 value = (1+2j) and datatype = <class 'complex'>
 value = True and datatype = <class 'bool'>

In [82]:
A[3:]

['pooja', 5, (1+2j), True]

In [83]:
A[0::2]

[1, 3, 5, True]

In [84]:
A

[1, 2, 3, 'pooja', 5, (1+2j), True]

In [85]:
for i in range(0,8,2):
    print(i, A[i])

0 1
2 3
4 5
6 True

In [86]:
A

[1, 2, 3, 'pooja', 5, (1+2j), True]

In [87]:
A[::-1]

[True, (1+2j), 5, 'pooja', 3, 2, 1]

In [88]:
A[::-2] ### start:end:step

[True, 5, 3, 1]

In [89]:
for i in range(0,len(A),2):
  print(i, A[i])

0 1
2 3
4 5
6 True

In [90]:
A

[1, 2, 3, 'pooja', 5, (1+2j), True]

In [91]:
for i in range(0,len(A)):
  print(i, A[i])

0 1
1 2
2 3
3 pooja
4 5
5 (1+2j)
6 True

In [92]:
for i in range(-1,-len(A)-1,-1):
  print(i, A[i])

-1 True
-2 (1+2j)
-3 5
-4 pooja
-5 3
-6 2
-7 1

In [93]:
for i in range(-1,-len(A)-1,-1000):
  print(i, A[i])

-1 True

In [94]:
A[1::2]

[2, 'pooja', (1+2j)]

In [95]:
A

[1, 2, 3, 'pooja', 5, (1+2j), True]

In [96]:
### printing specific index value
for i in (1,5,6):
    print(i, A[i])

1 2
5 (1+2j)
6 True

In [97]:
### assigning values
A

[1, 2, 3, 'pooja', 5, (1+2j), True]

In [98]:
A[4]

5

In [101]:
A[4] = 9999 ### lists are mutable, allowed to change

In [100]:
A

[1, 2, 3, 'pooja', 9999, (1+2j), True]

In [102]:
A[-2]

(1+2j)

In [103]:
A[-2] = "SUREKA"

In [104]:
A

[1, 2, 3, 'pooja', 9999, 'SUREKA', True]

In [105]:
B = [78, 90.22]

In [106]:
A+B

[1, 2, 3, 'pooja', 9999, 'SUREKA', True, 78, 90.22]

In [107]:
A

[1, 2, 3, 'pooja', 9999, 'SUREKA', True]

In [108]:
A = A+B

In [109]:
A

[1, 2, 3, 'pooja', 9999, 'SUREKA', True, 78, 90.22]

In [112]:
A*1

[1, 2, 3, 'pooja', 9999, 'SUREKA', True, 78, 90.22]

In [116]:
A+A

[1,
 2,
 3,
 'pooja',
 9999,
 'SUREKA',
 True,
 78,
 90.22,
 1,
 2,
 3,
 'pooja',
 9999,
 'SUREKA',
 True,
 78,
 90.22]

In [119]:
A * (-1)

[]

In [120]:
A * (-2)

[]

In [125]:
A + 2 * A

[1,
 2,
 3,
 'pooja',
 9999,
 'SUREKA',
 True,
 78,
 90.22,
 1,
 2,
 3,
 'pooja',
 9999,
 'SUREKA',
 True,
 78,
 90.22,
 1,
 2,
 3,
 'pooja',
 9999,
 'SUREKA',
 True,
 78,
 90.22]

In [126]:
A * 0

[]

In [1]:
A= [1,3,5,6,8,9]

In [2]:
len(A)

6

In [6]:
my_list = list()

In [7]:
len(my_list)

0

In [16]:
list_of_items_to_purchase = list()
for i in range(2):
    user_input = input("Enter the item you want to purchse:")
    list_of_items_to_purchase = list_of_items_to_purchase + [user_input]
print(list_of_items_to_purchase)

['pen', 'pen']

In [12]:
list_of_items_to_purchase = list()
for i in range(2):
    user_input = input("Enter the item you want to purchse:")
    list_of_items_to_purchase.append(user_inputpen
                                     )
print(list_of_items_to_purchase)

['pen', 'pen']

In [17]:
list_of_items_to_purchase = list()

N = int(input("Enter the number of items you want to purhase: "))

i = 0
while i < N:
    user_input = input("Enter the item that you want to purchase: ")
    list_of_items_to_purchase = list_of_items_to_purchase + [user_input]

    i = i + 1

print(list_of_items_to_purchase)

['pen', 'pencil']

In [18]:
list_of_items_to_purchase = list()

N = int(input("Enter the number of items you want to purhase: "))

i = 0
while i < N:
    user_input = input("Enter the item that you want to purchase: ")
    list_of_items_to_purchase = list_of_items_to_purchase + [user_input]
    print(f"current list: {list_of_items_to_purchase}")

    i = i + 1

print(list_of_items_to_purchase)

current list: ['pen']
current list: ['pen', 'pencil']
['pen', 'pencil']

In [40]:
list_of_items_to_purchase = list()

N = int(input("Enter the number of items you want to purhase: "))

i = 0
while i < N:
    user_input = input("Enter the item that you want to purchase: ")
    list_of_items_to_purchase = list_of_items_to_purchase + [user_input]
    print(f"current list: {list_of_items_to_purchase}")

    i = i + 1
    print(f"current i: {i} = > current list: {list_of_items_to_purchase}")

print(list_of_items_to_purchase)

current list: ['pen']
current i: 1 = > current list: ['pen']
current list: ['pen', 'pen']
current i: 2 = > current list: ['pen', 'pen']
current list: ['pen', 'pen', 'pen']
current i: 3 = > current list: ['pen', 'pen', 'pen']
['pen', 'pen', 'pen']

In [41]:
### check membership  in a list

"pen" in list_of_items_to_purchase

True

In [42]:
"phone cover" in list_of_items_to_purchase

False

In [43]:
if "Phone cover" in list_of_items_to_purchase:
    print("yes")
else:
    print("No, adding into a list")
    list_of_items_to_purchase = list_of_items_to_purchase + ["Phone cover"]
    print(list_of_items_to_purchase)

No, adding into a list
['pen', 'pen', 'pen', 'Phone cover']

In [44]:
if "Milk" not in list_of_items_to_purchase:
    print("No, adding into a list")
    list_of_items_to_purchase = list_of_items_to_purchase + ["Milk"]
    print(list_of_items_to_purchase)

No, adding into a list
['pen', 'pen', 'pen', 'Phone cover', 'Milk']

In [47]:
new_item = input("Anythong else to add:")

if new_item not in list_of_items_to_purchase:
    print("No, adding into a list")
    list_of_items_to_purchase = list_of_items_to_purchase + [new_item]
    print(list_of_items_to_purchase)

No, adding into a list
['pen', 'pen', 'pen', 'Phone cover', 'Milk', 'milk']

In [60]:
### finding max value from a given list
### ASCII CODE

lst = [1,45,999,10]

In [53]:
max(lst)

999

In [54]:
string_example = ["b", "a", "d"]

In [55]:
max(string_example)

'd'

In [56]:
string_example = ["b", "a", "d", "c", "D"]

In [57]:
max(string_example)

'd'

In [58]:
string_example = ["b", "a", "d", "c", "D", "f"]

In [59]:
max(string_example)

'f'

In [65]:
example = [3,9,99.0]

In [66]:
max(example)

99.0

In [69]:
example = [3,9,99.0, -55]

In [70]:
min(example)

-55

In [71]:
example = [3,9,99.0, -55, 400*2]

In [72]:
max(example)

800

In [76]:
string_example = ["pooja", "KUMARI", "sureka"]

In [77]:
max(string_example)

'sureka'

In [82]:
string_example = ["KUMARI", "dew", "dj"]

In [83]:
max(string_example)

'dj'

In [84]:
min(string_example)

'KUMARI'

In [87]:
string_example = ["dew", "dj", "a"]

In [88]:
min(string_example)

'a'

In [91]:
### print the name with highest number of characters

string_example = ["pooja", "KUMARI", "sureka"]

max_len = 0
example = ""

for example in string_example:
    print(example, len(example))
    if len(example) > max_len:
        max_len = len(example)
        result = example

print(f"RESULT: MAX LENGTH: {max_len}, name: {example}")

pooja 5
KUMARI 6
sureka 6
RESULT: MAX LENGTH: 6, name: sureka

In [31]:
A = [1, 4, 6]

In [32]:
A = A + ["new element"]

In [33]:
A

[1, 4, 6, 'new element']

In [34]:
A.append(7)

In [35]:
A

[1, 4, 6, 'new element', 7]

In [36]:
A.append("Pooja_Sureka")

In [37]:
A

[1, 4, 6, 'new element', 7, 'Pooja_Sureka']

In [38]:
A.append(["pooja", "sureka"])

In [39]:
A

[1, 4, 6, 'new element', 7, 'Pooja_Sureka', ['pooja', 'sureka']]

In [40]:
A.append([2,5,7])

In [41]:
A

[1, 4, 6, 'new element', 7, 'Pooja_Sureka', ['pooja', 'sureka'], [2, 5, 7]]

In [126]:
list_of_items_to_purchase = list()

N = int(input("Enter the number of items you want to purhase: "))

for i in range(N):
    user_input = input("Enter the item that you want to purchase: ")
    list_of_items_to_purchase.append(user_input)


print(list_of_items_to_purchase)

['pen', 'pen', 'pen']

In [42]:
A

[1, 4, 6, 'new element', 7, 'Pooja_Sureka', ['pooja', 'sureka'], [2, 5, 7]]

In [43]:
A.append(["pooja", "sureka"])

In [44]:
A

[1,
 4,
 6,
 'new element',
 7,
 'Pooja_Sureka',
 ['pooja', 'sureka'],
 [2, 5, 7],
 ['pooja', 'sureka']]

In [45]:
A = A + ["pooja", "sureka"]

In [46]:
A

[1,
 4,
 6,
 'new element',
 7,
 'Pooja_Sureka',
 ['pooja', 'sureka'],
 [2, 5, 7],
 ['pooja', 'sureka'],
 'pooja',
 'sureka']

In [47]:
### POP ----REMOVING AN ELEMENT

In [48]:
A.pop()

'sureka'

In [49]:
A.pop(-2)

['pooja', 'sureka']

In [50]:
A

[1,
 4,
 6,
 'new element',
 7,
 'Pooja_Sureka',
 ['pooja', 'sureka'],
 [2, 5, 7],
 'pooja']

In [51]:
A.pop(0)

1

In [52]:
A

[4,
 6,
 'new element',
 7,
 'Pooja_Sureka',
 ['pooja', 'sureka'],
 [2, 5, 7],
 'pooja']

In [53]:
A.pop(-1)

'pooja'

In [54]:
A

[4, 6, 'new element', 7, 'Pooja_Sureka', ['pooja', 'sureka'], [2, 5, 7]]

In [55]:
remove_item = A.pop(1)

In [56]:
remove_item

6

In [57]:
A

[4, 'new element', 7, 'Pooja_Sureka', ['pooja', 'sureka'], [2, 5, 7]]

In [60]:
A = [1,34,45,78,98]

for i in range(len(A)):
    num = A[i]
    print(i, num)

    if num%2 != 0:
        print(f"odd number: {num}")
    else:
        print(f"even number: {num}")

0 1
odd number: 1
1 34
even number: 34
2 45
odd number: 45
3 78
even number: 78
4 98
even number: 98

In [76]:
A = [1,98,45,90]

In [77]:
sorted(A)

[1, 45, 90, 98]

In [78]:
A

[1, 98, 45, 90]

In [79]:
A = sorted(A)

In [75]:
A

[1, 45, 90, 98]

In [80]:
A[::-1]

[98, 90, 45, 1]

In [82]:
A = A[::-1]

In [83]:
A

[98, 90, 45, 1]

In [90]:
A = [8,9,70,65,87]

In [91]:
A.sort()

In [92]:
A

[8, 9, 65, 70, 87]

In [95]:
A[::-1]

[87, 70, 65, 9, 8]

In [94]:
A

[8, 9, 65, 70, 87]

In [96]:
A = A[::-1]

In [97]:
A

[87, 70, 65, 9, 8]

In [98]:
A =[90,1,56]

In [99]:
A.sort(reverse = True)

In [100]:
A

[90, 56, 1]

In [113]:
### reversing of a string
A = [ 2,98,78,90]

In [114]:
A.reverse()

In [115]:
A

[90, 78, 98, 2]

In [116]:
A = [1,3,5]

In [117]:
A = A[::-1]

In [118]:
A

[5, 3, 1]

In [119]:
A.reverse()

In [120]:
A

[1, 3, 5]