Arithmatic operators

In [85]:
A = 22
B = 23

A+B

45

In [86]:
A-B

-1

In [87]:
A/B

0.9565217391304348

In [88]:
A//B

0

In [89]:
A = 5
B = 2

A/B

2.5

In [90]:
A//B

2

In [91]:
A%B

1

In [92]:
A = 55
B = 2

if A%B ==0:
    print(f"A: {A} is not divisible by B: {B}")
else:
    print(f"A: {A} is not divisible by B: {B}")

A: 55 is not divisible by B: 2

In [93]:
A = 54
B = 2

if A%B ==0:
    print(f"A: {A} is not divisible by B: {B}")
else:
    print(f"A: {A} is not divisible by B: {B}")

A: 54 is not divisible by B: 2

In [94]:
A = 54
B = 3

if A%B ==0:
    print(f"A: {A} is not divisible by B: {B}")
else:
    print(f"A: {A} is not divisible by B: {B}")

A: 54 is not divisible by B: 3

In [95]:
A = 55
B = 3

if A%B ==0:
    print(f"A: {A} is not divisible by B: {B}")
else:
    print(f"A: {A} is not divisible by B: {B}")

A: 55 is not divisible by B: 3

In [96]:
A = 4 # SQUARE ROOT

A** (1/2)

2.0

String Operators

In [97]:
# string indexing
name = 'pooja'

In [98]:
name[0]

'p'

In [99]:
name[-5]

'p'

In [100]:
name[-0]

'p'

In [101]:
# string slicing

name = "pooja"

In [102]:
name[1:4]

'ooj'

In [103]:
name[1:]

'ooja'

In [104]:
name[1:5]

'ooja'

In [105]:
name[-4:5]

'ooja'

In [129]:
Today_date = "17/05/2023"

date = Today_date[0:2]
month = Today_date[3:5]
year = Today_date[6:]

In [119]:
date

'17'

In [120]:
month

'05'

In [121]:
year

'2023'

In [126]:
data = input("Enter date of birth in the format DD/MM/YYYY:")
date = data[0:2]
month = data[3:5]
year = data[6:]

print(f"The user was born in the month of: {month} in the year: {year} on date: {date} ")

The user was born in the month of: 09 in the year: 1998 on date: 26

In [125]:
data = input("Enter date of birth in the format DD/MMM/YYYY:")
date = data[0:2]
month = data[3:6]
year = data[7:]

print(f"The user was born in the month of: {month} in the year: {year} on date: {date} ")

The user was born in the month of: sep in the year: 1998 on date: 26

In [134]:
### reversing of a stringsureka
# Palindrome sequence

data = input("Enter a string: ")
data[:]

'sureka'

In [135]:
data[: :2]

'srk'

In [137]:
data[0:5:2]

'srk'

In [140]:
data = input("Enter a string: ")
data[:]

'pooja kumari sureka'

In [142]:
data[0::2]

'poakmr uea'

In [143]:
data[::]

'pooja kumari sureka'

In [144]:
data[::-1]

'akerus iramuk ajoop'

In [145]:
data = input("Enter a string: ")
reverse = data[::-1]

print(data, reverse)

radar radar

In [146]:
data = input("Enter a string: ")
reverse = data[::-1]

print(data, reverse)

madam madam

In [147]:
data = input("Enter a string: ")
reverse = data[::-1]

if data == reverse:
    print(f" Input string: {data} is palindrome")
else:
    print(f" Input string: {data} is not palindrome")

 Input string: madam is palindrome

In [150]:
data = input("Enter a string: ")
reverse = data[::-1]

if data == reverse:
    print(f" Input string: {data} is palindrome")
else:
    print(f" Input string: {data} is NOT palindrome")

 Input string: pooja is NOT palindrome

In [151]:
data = input("Enter a string: ")
reverse = data[::-1]

if data == reverse:
    print(f" Input string: {data} is palindrome")
else:
    print(f" Input string: {data} is NOT palindrome")

 Input string: Radar is NOT palindrome

In [152]:
# string mutability

In [153]:
name = "pooja"

In [154]:
name.replace("p", "s")

'sooja'

In [155]:
name

'pooja'

In [156]:
name = name.replace("p", "s")

In [157]:
name

'sooja'

In [158]:
"p" + name[1:]

'pooja'

In [159]:
name

'sooja'

In [160]:
name = "p" + name[1:]

In [161]:
name

'pooja'

In [162]:
name = "pooja kumari sureka"

In [165]:
name = name.replace(" ", "_")

In [166]:
name

'pooja_kumari_sureka'

In [167]:
### Length of a string

In [168]:
len(name)

19

In [170]:
len("pooja")

5

In [171]:
len("pooja    ")

9

In [173]:
name = " pooja  "

In [174]:
name

' pooja  '

In [175]:
name.replace(" ", "")

'pooja'

In [176]:
name = name.replace(" ", "")

In [177]:
name

'pooja'

In [178]:
len(name)

5

In [179]:
name[-3:-3]

''

In [180]:
### count specific characters in a string

In [181]:
name = "pooja kumari sureka"

In [182]:
name.count("a")

3

In [183]:
# split operation

In [184]:
name = "pooja kumari sureka"
name.split(" ")

['pooja', 'kumari', 'sureka']

In [185]:
first_name, middle_name, last_name = name.split(" ")

In [186]:
print(f"""
FIRST NAME: {first_name}
MIDDLE NAME: {middle_name}
LAST NAME: {last_name}
""")

FIRST NAME: pooja
MIDDLE NAME: kumari
LAST NAME: sureka

In [203]:
data = input("Enter date of birth in the format DD/MMM/YYYY:")
date, month, year = data.split("/")


print(f"The user was born in the month of: {month} in the year: {year} on date: {date} ")

The user was born in the month of: sep in the year: 1998 on date: 26

In [189]:
data = "26/sep/1998"
date, month, year = data.split("/")


print(f"The user was born in the month of: {month} in the year: {year} on date: {date} ")

The user was born in the month of: sep in the year: 1998 on date: 26

In [191]:
data.split("/")

['26', 'sep', '1998']

In [194]:
data = input("Enter date of birth in the format DD/MMM/YYYY:")
data.split("/")

['26', 'sep-1998']

In [196]:
name = "pooja_kumari_sureka"
name.split("_")

['pooja', 'kumari', 'sureka']

In [198]:
name = "pooja_kumari_sureka"
name.split("o")

['p', '', 'ja_kumari_sureka']

In [199]:
name = "pooja_kumari_sureka"
name.split(".")

['pooja_kumari_sureka']

In [200]:
data = input("Enter date of birth in the format DD/MMM/YYYY:")
data.split("/")

['26', 'september', '1998']

In [201]:
A,B,C = data.split("/")

print(A,B,C)

26 september 1998

In [204]:
A = data.split("/")

In [205]:
A

['26', 'sep', '1998']

In [206]:
A[0]

'26'

In [207]:
A[1]

'sep'

In [208]:
A[2]

'1998'

In [210]:
len(A)

3

In [211]:
# lower, upper, title case

In [212]:
name = "pooja kumari sureka"

In [213]:
name.lower()

'pooja kumari sureka'

In [214]:
name.upper()

'POOJA KUMARI SUREKA'

In [215]:
name.title()

'Pooja Kumari Sureka'

In [216]:
name = input("Enter your name: ")

print(f"user inpur: {name}")
print(f"name in upper case: {name.upper()}")
print(f"name in lower case: {name.lower()}")
print(f"name in title case: {name.title()}")

user inpur: Pooja Kumari Sureka
name in upper case: POOJA KUMARI SUREKA
name in lower case: pooja kumari sureka
name in title case: Pooja Kumari Sureka

In [217]:
name = input("Enter your name: ")

print(f"user inpur: {name}")
print(f"name in upper case: {name.upper()}")
print(f"name in lower case: {name.lower()}")
print(f"name in title case: {name.title()}")
print(f"name in  capitalize case: {name.capitalize()}")
print(f"name in swapcase case: {name.swapcase()}")

user inpur: Pooja Kumari Sureka
name in upper case: POOJA KUMARI SUREKA
name in lower case: pooja kumari sureka
name in title case: Pooja Kumari Sureka
name in  capitalize case: Pooja kumari sureka
name in swapcase case: pOOJA kUMARI sUREKA

In [218]:
name = "Today is a good day"

print(f"user inpur: {name}")
print(f"name in upper case: {name.upper()}")
print(f"name in lower case: {name.lower()}")
print(f"name in title case: {name.title()}")
print(f"name in  capitalize case: {name.capitalize()}")
print(f"name in swapcase case: {name.swapcase()}")

user inpur: Today is a good day
name in upper case: TODAY IS A GOOD DAY
name in lower case: today is a good day
name in title case: Today Is A Good Day
name in  capitalize case: Today is a good day
name in swapcase case: tODAY IS A GOOD DAY

In [219]:
name = "pooja kumari sureka"
"*".join(name)

'p*o*o*j*a* *k*u*m*a*r*i* *s*u*r*e*k*a'

In [220]:
name = "pooja kumari sureka"
"_".join(name)

'p_o_o_j_a_ _k_u_m_a_r_i_ _s_u_r_e_k_a'

In [225]:
name = "pooja kumari sureka"
"/".join(name)

'p/o/o/j/a/ /k/u/m/a/r/i/ /s/u/r/e/k/a'

In [226]:
name = "pooja kumari sureka"
" ".join(name)

'p o o j a   k u m a r i   s u r e k a'

In [229]:
"".join(reversed(name))

'akerus iramuk ajoop'

In [232]:
name[::-1]

'akerus iramuk ajoop'

In [233]:
name = "pooja kumari sureka"
name.replace(" ", "/")

'pooja/kumari/sureka'

In [9]:
# remove extra spaces from the string

## removes spaces only from front side and back side

In [4]:
name = "   pooja kumari  sureka   "

In [5]:
name.strip(" ")

'pooja kumari  sureka'

In [6]:
name = "   pooja kumari  sureka   "

In [7]:
name.lstrip(" ")

'pooja kumari  sureka   '

In [8]:
name.rstrip(" ")

'   pooja kumari  sureka'

In [10]:
name = "   pooja kumari  sureka   "

In [11]:
name.replace(" ", "")

'poojakumarisureka'

In [25]:
name =   "====== pooja kumari  sureka ==="

In [26]:
name.strip("=")

' pooja kumari  sureka '

In [27]:
# Formatting

In [28]:
name = "pooja"
name.center(10, "#")

'##pooja###'

In [30]:
name = "pooja"
name.center(20, "#")

'#######pooja########'

In [31]:
name = "pooja"
name.center(6, "#")

'pooja#'

In [32]:
name = "pooja"
name.center(3, "#")

'pooja'

In [34]:
## checking string cases(imp)

In [35]:
name = "POOJA"
name.isupper()

True

In [36]:
name = "POOJA"
name.islower()

False

In [37]:
name = "pooja"
name.islower()

True

In [38]:
name = "Pooja"
name.isupper()

False

In [39]:
name = "Pooja"
name.isspace()

False

In [40]:
name = "Pooja   "
name.isspace()

False

In [41]:
name = "   "
name.isspace()

True

In [42]:
name = "Pooja"
name.istitle()

True

In [48]:
name = input("Enter your name: ")

print(f"user input: {name}")

if name.istitle():
    print(f"user has given correct name: {name}")
else:
    print(f"wrong input we need to autocorrect it:")
    name = name.istitle()
    print(name)

user input: Pooja
user has given correct name: Pooja

In [49]:
name = input("Enter your name: ")

print(f"user input: {name}")

if name.istitle():
    print(f"user has given correct name: {name}")
elif name.isspace():
    print(f"wrong input, please try again!!!")

else:
    print(f"wrong input we need to autocorrect it:")
    name = name.title()
    print(f"correct output is: {name}")

user input:
wrong input, please try again!!!

In [50]:
name = input("Enter your name: ")

print(f"user input: {name}")

if name.istitle():
    print(f"user has given correct name: {name}")
elif name.isspace():
    print(f"wrong input, please try again!!!")

else:
    print(f"wrong input we need to autocorrect it:")
    name = name.title()
    print(f"correct output is: {name}")

user input: pooja sureka
wrong input we need to autocorrect it:
correct output is: Pooja Sureka

In [51]:
name = input("Enter your name: ")

print(f"user input: {name}")

if name.istitle():
    print(f"user has given correct name: {name}")
elif name.isspace():
    print(f"wrong input, please try again!!!")

else:
    print(f"wrong input we need to autocorrect it:")
    name = name.title()
    print(f"correct output is: {name}")

user input: Pooja Sureka
user has given correct name: Pooja Sureka

In [52]:
name = input("Enter your name: ")

print(f"user input: {name}")

if name.istitle():
    print(f"user has given correct name: {name}")
elif name.isspace():
    print(f"wrong input, please try again!!!")

else:
    print(f"wrong input we need to autocorrect it:")
    name = name.title()
    print(f"correct output is: {name}")

user input: POOja SureKA
wrong input we need to autocorrect it:
correct output is: Pooja Sureka

In [53]:
phone_number = "1234567890"

phone_number.isdigit()

True

In [55]:
phone_number = "1234567890ggg"

phone_number.isdigit()

False

In [57]:
phone_number = "1234567890"

phone_number.isdigit()

True

In [61]:
phone_number= input("Enter your phone number: ")

if phone_number.isdigit() and len(phone_number) == 10:
    print(f"user input is correct")
else:
    print(f"invalid input")

user input is correct

In [65]:
phone_number= input("Enter your phone number: ")
print(f"The user input is: {phone_number}")

if phone_number.isdigit() and len(phone_number) == 10 and phone_number != "0000000000":
    print(f"user input is correct")
else:
    print(f"invalid input")

The user input is: 0000000000
invalid input

In [66]:
phone_number= input("Enter your phone number: ")
print(f"The user input is: {phone_number}")

if phone_number.isdigit() and len(phone_number) == 10 and phone_number != "0000000000":
    print(f"user input is correct")
else:
    print(f"invalid input")

The user input is: 1234567789
user input is correct

In [67]:
phone_number.startswith("0")

False

In [68]:
phone_number.endswith("0")

False

In [69]:
phone_number= input("Enter your phone number: ")
print(f"The user input is: {phone_number}")

if phone_number.isdigit() and len(phone_number) == 10 and phone_number != "0000000000":
    print(f"user input is correct")
else:
    print(f"invalid input")

The user input is: 0000000000
invalid input

In [70]:
phone_number.startswith("0")

True

In [71]:
phone_number.endswith("0")

True

In [72]:
phone_number = "+911234567890"

phone_number.startswith("+91")

True

In [73]:
phone_number[1:].isdigit()

True

In [75]:
len(phone_number) == 13

True

In [80]:
phone_number = "+910000000000"

phone_number.count("0")

10

In [76]:
phone_number= input("Enter your Indian phone number: ")
print(f"The user Indian phone number is: {phone_number}")

if phone_number.startswith("+91") and phone_number[1:].isdigit() and len(phone_number) == 13:
    print(f"user input is correct")
else:
    print(f"invalid input")

The user Indian phone number is: +911234567890
user input is correct

In [81]:
phone_number= input("Enter your Indian phone number: ")
print(f"The user Indian phone number is: {phone_number}")

if phone_number.startswith("+91") and phone_number[1:].isdigit() and len(phone_number) == 13 and phone_number.count("0") < 2:
    print(f"user input is correct")
else:
    print(f"invalid input: {phone_number}")

The user Indian phone number is: +912340000098
invalid input: +912340000098

In [83]:
PAN_NUMBERS = "AYEPC5656X"

PAN_NUMBERS.isalnum()

True

In [84]:
PAN_NUMBERS = "123456"

PAN_NUMBERS.isalnum()

True

In [85]:
PAN_NUMBERS = "Pooja"

PAN_NUMBERS.isalnum()

True

In [86]:
PAN_NUMBERS = "Pooja**Sureka"

PAN_NUMBERS.isalnum()

False