1. Print the first 5 positive integers in ascending order with one number 
in each line

In [11]:
a = []
for i in range(1,6):
    a.append(i)
print(a)

[1, 2, 3, 4, 5]

In [12]:
for i in range(5):
    print(i+1)

1
2
3
4
5

In [13]:
i = 1

while (i<=5):
    print(i)
    i +=1

1
2
3
4
5

In [14]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [15]:
### 2. Print the following pattern
### *
### **
### ***
### ****
### *****
###  There are no spaces between consecutive stars. There are no spaces 
###  at the end of each line.

In [16]:
for i in range(1,6):
    print("*"*i)

*
**
***
****
*****

In [17]:
for i in range(1,6):
    for j in range(i):
        print("*", end = "")
    print("")

*
**
***
****
*****

3. Accept an integer as input and print its square as output.

In [18]:
A = int(input("Enter an integer: "))
print(A)
square = A ** 2
print(f"The square of an integer A: {square}")

2
The square of an integer A: 4

4. Accept two integers as input and print their sum as output.

In [21]:
A = int(input())
B = int(input())
print(f"A: {A}")
print(f"B: {B}")

sum = A + B

print(f"sum of A: {A} and B: {B} is {sum}")

A: 2
B: 5
sum of A: 2 and B: 5 is 7

5. Accept two words as input and print the two words after adding a 
space between them

In [24]:
word1 = input("Enter the first word1:")
word2 = input("Enter the second word2:")
print(f"word1: {word1}")
print(f"word2: {word2}")

print(word1+ " " + word2)

word1: pooja
word2: sureka
pooja sureka

6. Accept the registration number of a vehicle as input and print its 
state-code as output.

In [26]:
registration_number = input()
### KA042345
print(registration_number[0:2])

KA

7.Accept a five-digit number as input and print the sum of its digits as 
output.

In [38]:
A = input()
d1 = int(A[0])
d2 = int(A[1])
d3 = int(A[2])
d4 = int(A[3])
d5 = int(A[4])
dsum = d1+d2+d3+d4+d5
print(dsum)

15

In [40]:
A = input()
l = 0
for i in A:
    l = l + int(i)
    print(l)

1
3
6
10
15

In [41]:
A = input()
l = 0
for i in A:
    l = l + int(i)
print(l)

15

In [42]:
a = input("Please enter a number:")
count = 0
for i in (a):
    count += int(i)
print(count)

15

8.Accept five words as input and print the sentence formed by these 
words after adding a space between consecutive words and a full stop 
at the end.

In [43]:
word1 = input()
word2 = input()
word3 = input()
word4 = input()
word5 = input()
space = " "
stop = "."
sentence = word1 + space + word2 + space + word3 + space + word4 + space +word5 +stop
print(sentence)

my name is pooja sureka.

9.Accept the date in DD-MM-YYYY format as input and print the 
year as output.

In [46]:
Date = input()

year=Date[6:]
print(year)

1998

In [47]:
Date = input()

year=Date[-4:]
print(year)

1998

10.Accept a sequence of five single digit numbers separated by commas 
as input. Print the product of all five numbers.

In [61]:
num = input()
print(f"num: {num}")
m = 1
for i in num:
    if i != ",":
        m = m * int(i)
print(m)

num: 1,2,3,4,5
120

11. Accept two positive integers x and y as input. Print the number of 
digits in xy (x to the power of y)

In [81]:
x = int(input())
y = int(input())

u = print(x**y)
type(u)

8

NoneType

In [79]:
x = int(input())
y = int(input())
print(f"x: {x}")
print(f"y: {y}")

result = (x**y)
result_str = str(result)
print(len(result_str))

print(f"The length of given output: {len(result_str)}")

x: 5
y: 7
5
The length of given output: 5

In [83]:
x = int(input())
y = int(input())
res = x**y
u = print(x**y)
print(type(u))
print(type(res))
res_str = str(res)
print(len(res_str))
print(type(res_str))

16
<class 'NoneType'>
<class 'int'>
2
<class 'str'>

12. Accept a string as input. If the input string is of odd length, then 
continue with it. If the input string is of even length, make the 
string of odd length as below:
• If the last character is a period (.), then remove it 
• If the last character is not a period, then add a period (.) to the 
end of the string
Call this string of odd length word. Select a substring made up of 
three consecutive characters from word such that there are an 
equal number of characters to the left and right of this substring. 
Print this substring as output. You can assume that all input 
strings will be in lower case and will have a length of at least four

In [89]:
p = "pooja"

p[:-1]

'pooj'

In [90]:
s = input()
n = len(s)

if n%2 == 0:
    if s[n-1] == ".":
        s = s[:-1]
    else:
        s = s + "."
n = int((len(s)-1)/2)
print(s[n-1:n+2])

ell

In [91]:
s = input()
n = len(s)

if n%2 == 0:
    if s[n-1] == ".":
        s = s[:-1]
    else:
        s = s + "."
n = int((len(s)-1)/2)
print(s[n-1:n+2])

ell

In [92]:
s = input()
n = len(s)

if n%2 == 0:
    if s[n-1] == ".":
        s = s[:-1]
    else:
        s = s + "."
n = int((len(s)-1)/2)
print(s[n-1:n+2])

ooj

In [93]:
s = input()
n = len(s)

if n%2 == 0:
    if s[n-1] == ".":
        s = s[:-1]
    else:
        s = s + "."
n = int((len(s)-1)/2)
print(s[n-1:n+2])

eur

In [94]:
s = input()
n = len(s)

if n%2 == 0:
    if s[n-1] == ".":
        s = s[:-1]
    else:
        s = s + "."
n = int((n-1)/2)
print(s[n-1:n+2])

ell

In [95]:
s = input()
n = len(s)

if n%2 == 0:
    if s[n-1] == ".":
        s = s[:-1]
    else:
        s = s + "."
n = int((n-1)/2)
print(s[n-1:n+2])

ell

In [96]:
s = input()
n = len(s)

if n%2 == 0:
    if s[n-1] == ".":
        s = s[:-1]
    else:
        s = s + "."
n = int((n-1)/2)
print(s[n-1:n+2])

pen

13. Accept three positive integers as input and check if they form the 
sides of a right triangle. Print YES if they form one, and NO is they do 
not. The input will have three lines, with one integer on each line. 
The output should be a single line containing one of these two 
strings: YES or NO.

In [104]:
x = int(input())
y = int(input())
z = int(input())
print(f"x: {x}")
print(f"y: {y}")
print(f"z: {z}")

if ((x**2 + y**2 == z**2) or 
    (y**2 + z**2 == x**2) or 
    (z**2 + x**2 == y**2)):
    print("YES")
else:
    print("NO")

x: 3
y: 4
z: 5
YES

14. EvenOdd is a tech startup. Each employee at the startup is given an employee id which is a unique 
positive integer. On one warm Sunday evening, five employees of the company come together for a 
meeting and sit at a circular table:
The employees follow a strange convention. They will continue the meeting only if the following 
condition is satisfied.
The sum of the employee-ids of every pair of adjacent employees at the table must be an even 
number.
They are so lazy that they won’t move around to satisfy the above condition, If the current seating 
plan doesn’t satisfy the condition, the meeting will be cancelled. You are given the employee-id of all 
five employees. Your task is to decide if the meeting happened or not.
The input will be five lined, each containing an integer. The ith line will have the employee-id of Ei. 
The output will be a single line containing one of these two strings: YES or NO

In [3]:
emp1 = int(input())
emp2 = int(input())
emp3 = int(input())
emp4 = int(input())
emp5 = int(input())

print(emp1)
print(emp2)
print(emp3)
print(emp4)
print(emp5)

if ((emp1+emp2)%2==0 and 
   (emp2+emp3)%2==0 and
   (emp3+emp4)%2==0 and
   (emp4+emp5)%2==0 and
   (emp5+emp1)%2==0 ):
    print("YES")
else:
    print("NO")

2
4
6
8
10
YES

In [4]:
emp1 = int(input())
emp2 = int(input())
emp3 = int(input())
emp4 = int(input())
emp5 = int(input())

print(emp1)
print(emp2)
print(emp3)
print(emp4)
print(emp5)

if ((emp1+emp2)%2==0 and 
   (emp2+emp3)%2==0 and
   (emp3+emp4)%2==0 and
   (emp4+emp5)%2==0 and
   (emp5+emp1)%2==0 ):
    print("YES")
else:
    print("NO")

1
2
3
4
5
NO

In [9]:
emp1 = int(input())
emp2 = int(input())
emp3 = int(input())
emp4 = int(input())
emp5 = int(input())

print(emp1)
print(emp2)
print(emp3)
print(emp4)
print(emp5)

if (emp1+emp2)%2==0 and (emp2+emp3)%2==0 and (emp3+emp4)%2==0 and (emp4+emp5)%2==0 and (emp5+emp1)%2==0:
    print("Meeting happened")
else:
    print("Meeting not happened")

2
4
6
8
10
Meeting happened

In [10]:
emp1 = int(input())
emp2 = int(input())
emp3 = int(input())
emp4 = int(input())
emp5 = int(input())

print(emp1)
print(emp2)
print(emp3)
print(emp4)
print(emp5)

if (emp1+emp2)%2==0 and (emp2+emp3)%2==0 and (emp3+emp4)%2==0 and (emp4+emp5)%2==0 and (emp5+emp1)%2==0:
    print("Meeting happened")
else:
    print("Meeting not happened")

1
2
3
4
5
Meeting not happened

15. Accept a string as input and print the vowels present in the string in 
alphabetical order. If the string doesn’t contain any vowels, then 
print the string none as output. Each vowel that appears in the input 
string – irrespective of its case should appear just once in lower case 
in the output

In [14]:
str = input()
l = list(str)
print(l)
vowels = ["a", "e", "i", "o", "u"]

output = []
for i in l:
    if i in vowels:
        output.append(i)
print(f"Vowels found are: {output}")

['p', 'o', 'o', 'j', 'a']
Vowels found are: ['o', 'o', 'a']

In [17]:
str = input()
l = list(str)
print(l)
vowels = ["a", "e", "i", "o", "u"]

output = []
for i in l:
    if i in vowels:
        output.append(i)
print(f"Vowels found are: {output}")

['i', 'n', 'e', 'u', 'r', 'o', 'n']
Vowels found are: ['i', 'e', 'u', 'o']

In [27]:
input_string  = input().lower()
print(input_string)
vowels = ""

if "a" in input_string:
    vowels  += "a"
if "e" in input_string:
    vowels  += "e" 
if "i" in input_string:
    vowels  += "i"
if "o" in input_string:
    vowels  += "o" 
if "u" in input_string:
    vowels  += "u"     

if vowels != "":
    print(vowels)
else:
    print(None)

hhhh
None

In [26]:
input_string  = input().lower()
print(input_string)
vowels = ""

if "a" in input_string:
    vowels  += "a"
if "e" in input_string:
    vowels  += "e" 
if "i" in input_string:
    vowels  += "i"
if "o" in input_string:
    vowels  += "o" 
if "u" in input_string:
    vowels  += "u"     

if vowels != "":
    print(vowels)
else:
    print(None)

ineuron
eiou

16.You are given the date of birth of two persons, not necessarily from 
the same family. Your task is to find the younger of the two. If both 
of them share the same date of birth, then the younger of the two is 
assumed to be that person whose name comes first in alphabetical 
order.
The input will have four lines. The first two lines correspond to the 
first person, while the last two lines correspond to the second 
person. For each person, the first line corresponds to the name and 
the second line corresponds to the date of birth in “DD-MM-YYYY” 
format. Your output should be the name of the younger of the two.

In [6]:
n1 = input()
d1= input()
print(n1)
print(d1)

n2 = input()
d2 = input()
print(n2)
print(d2)

if d1 == d2:
    if n1<n2:
        print(n1)
    else:
        print(n2)
elif d1[-4:] != d2[-4:]:
    if int(d1[-4:]) < int(d2[-4:]):
        print(n2)
    else:
        print(n1)
elif d1[3:5] != d2[3:5]:
    if int(d1[-4:]) < int(d2[-4:]):
        print(n2)
    else:
        print(n1)
elif d1[0:2] != d2[0:2]:
    if int(d1[0:2]) < int(d2[0:2]):
        print(n2)
    else:
        print(n1)

pooja
26-09-1998
pooo
24-09-1998
pooja

In [7]:
n1 = input()
d1= input()
print(n1)
print(d1)

n2 = input()
d2 = input()
print(n2)
print(d2)

if d1 == d2:
    if n1<n2:
        print(n1)
    else:
        print(n2)
elif d1[-4:] != d2[-4:]:
    if int(d1[-4:]) < int(d2[-4:]):
        print(n2)
    else:
        print(n1)
elif d1[3:5] != d2[3:5]:
    if int(d1[-4:]) < int(d2[-4:]):
        print(n2)
    else:
        print(n1)
elif d1[0:2] != d2[0:2]:
    if int(d1[0:2]) < int(d2[0:2]):
        print(n2)
    else:
        print(n1)

pooja
26-09-1998
pooo
26-04-1998
pooja

In [8]:
n1 = input()
d1= input()
print(n1)
print(d1)

n2 = input()
d2 = input()
print(n2)
print(d2)

if d1 == d2:
    if n1<n2:
        print(n1)
    else:
        print(n2)
elif d1[-4:] != d2[-4:]:
    if int(d1[-4:]) < int(d2[-4:]):
        print(n2)
    else:
        print(n1)
elif d1[3:5] != d2[3:5]:
    if int(d1[-4:]) < int(d2[-4:]):
        print(n2)
    else:
        print(n1)
elif d1[0:2] != d2[0:2]:
    if int(d1[0:2]) < int(d2[0:2]):
        print(n2)
    else:
        print(n1)

pooja
26-09-1998
poooo
26-09-2001
poooo

In [9]:
n1 = input()
d1= input()
print(n1)
print(d1)

n2 = input()
d2 = input()
print(n2)
print(d2)

if d1 == d2:
    if n1<n2:
        print(n1)
    else:
        print(n2)
elif d1[-4:] != d2[-4:]:
    if int(d1[-4:]) < int(d2[-4:]):
        print(n2)
    else:
        print(n1)
elif d1[3:5] != d2[3:5]:
    if int(d1[-4:]) < int(d2[-4:]):
        print(n2)
    else:
        print(n1)
elif d1[0:2] != d2[0:2]:
    if int(d1[0:2]) < int(d2[0:2]):
        print(n2)
    else:
        print(n1)

pooja
26-09-1998
poooo
26-09-1998
pooja

17.Accept a string as input. Your task is to determine if the input string is a valid password or not. For a 
string to be a valid password, it must satisfy all the conditions given below:
(1) It should have at least 8 and at most 32 characters
(2) It should start with an uppercase or lowercase letter
(3) It should not have any of these characters: / \ = ' "
(4) It should not have spaces
It could have any character that is not mentioned in the list of characters to be avoided (points 3 and 
4). Output True if the string forms a valid password and False otherwise

In [23]:
p = input()
print(p)

if 8<=len(p)<=32 and p[0].isalpha() and "/" not in p and "\\" not in p and '=' not in p and '\'' not in p and '\"' not in p and ' ' not in p :
    print(True)
else:
    print(False)

GHoi98907gkbhjgk
True

18. Accept a positive integer n as input and print the first n positive 
integers, one number on each line.

In [25]:
n = int(input())
print(f"number: {n}")
for i in range(1, n+1):
    print(i)

number: 5
1
2
3
4
5

19.Accept a positive integer n as input, where n is greater than 1. 
Print PRIME if n is a prime number and NOTPRIME otherwise.

In [30]:
n = int(input())
print(F"n: {n}")
isprime = True
if n == 1:
    isprime = False
else:
    for i in range(2,n):
        if n%i ==0:
            isprime = False

if isprime == True:
    print(f"n: {n} is a prime number")
else:
    print(f"n: {n} is not a prime number")

n: 2
n: 2 is a prime number

20. Accept two strings as input and form a new string by removing all 
characters from the second string which are present in the first string. 
Print this new string as output. You can assume that all input strings 
will be in lower case.

In [32]:
str1 = input()
str2 = input()
print(str1)
print(str2)

for i in str1:
    if i in str2:
        str2 = str2.replace(i,"")

print(str2)

sam
ranu
rnu

In [33]:
str1 = input()
str2 = input()
print(str1)
print(str2)

for i in str1:
    if i in str2:
        str2 = str2.replace(i,"")

print(str2)

pooja
plio
li

In [34]:
str1 = input()
str2 = input()
print(str1)
print(str2)

for i in str1:
    if i in str2:
        str1 = str1.replace(i,"")
print(str1)

pooja
pliio
ja