In [1]:
A = [[1,2,3], [4,5,6], [7,8,9]]

In [2]:
A[0][1]

2

In [3]:
A[2]

[7, 8, 9]

In [4]:
A[2][2]

9

In [7]:
A = [[1,2,3], [4,5,6,[500,503]], [7,8,9]]

In [10]:
A[1][3]

[500, 503]

In [12]:
A[1][3][0]

500

In [13]:
A[1][3][1]

503

In [2]:
A = [[1,2,3], [4,5,6,[500,503]], [7,[239, "hiii"],8,9]]

In [16]:
A[2][1][1]

'hiii'

In [3]:
A[-1][-3][-1]

'hiii'

In [6]:
amazon_cart = [["watch", 5000], ["phone", 10000], ["laptop", 50000]]

total_cost = 0

for i in amazon_cart:
    total_cost = total_cost + i[1]
print(total_cost)

65000

In [8]:
### without for loop

amazon_cart[0][1]

5000

In [11]:
amazon_cart[1][1]

10000

In [12]:
amazon_cart[2][1]

50000

In [14]:
amazon_cart[0][1] + amazon_cart[1][1] + amazon_cart[2][1]

65000

In [18]:
amazon_cart = [["watch", 5000], ["phone", 10000], ["laptop", 50000]]

total_cost = 0

for i in range(len(amazon_cart)):
    print(amazon_cart[i][1])
    total_cost = total_cost + amazon_cart[i][1]
print(total_cost)

5000
10000
50000
65000

In [4]:
amazon_cart = [["watch", 5000], ["phone", 10000], ["laptop", 50000]]

total_cost = 0

for i in range(len(amazon_cart)):
    print(amazon_cart[i][0], amazon_cart[i][1])
    total_cost = total_cost + amazon_cart[i][1]
print(total_cost)

watch 5000
phone 10000
laptop 50000
65000

In [6]:
amazon_cart = [["watch", 5000], ["phone", 10000], ["laptop", 50000]]

total_cost = 0
print(f"empty cart: {total_cost}")

for i in amazon_cart:
    print(i[0], i[1])
    total_cost = total_cost + i[1]
    print(f"cart after adding {i[0]}: {total_cost}")
print(f"Total price to be paid for the amazon cart: {total_cost}")

empty cart: 0
watch 5000
cart after adding watch: 5000
phone 10000
cart after adding phone: 15000
laptop 50000
cart after adding laptop: 65000
Total price to be paid for the amazon cart: 65000

In [7]:
amazon_cart = [["watch", 5000], ["phone", 10000], ["laptop", 50000]]

total_cost = 0


for i in amazon_cart:
    print(i[0], i[1])
    total_cost = total_cost + i[1]
 
print(f"Total price to be paid for the amazon cart: {total_cost}")

watch 5000
phone 10000
laptop 50000
Total price to be paid for the amazon cart: 65000

In [9]:
### List comprehension

### list which contains list of square of no. between 1 - 10

In [16]:
A = [1,2,3,4,5,6,7,8,9,10]
ans = list()
for i in A:
    print(i, i**2)
    ans.append(i**2)
print(ans)

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [17]:
A = [1,2,3,4,5,6,7,8,9,10]
ans = []
for i in A:
    print(i, i**2)
    ans.append(i**2)
print(ans)

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [20]:
ans = [ele**2 for ele in A]

print(ans)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [21]:
## only take the square of odd no. in a list:

A = [1,2,3,4,5,6,7,8,9,10]
ans = []
for i in A:
    if i%2 !=0:
        print(i, i**2)
        ans.append(i**2)
print(ans)

1 1
3 9
5 25
7 49
9 81
[1, 9, 25, 49, 81]

In [23]:
A = [1,2,3,4,5,6,7,8,9,10]
ans = []
for i in A:
    if i%2 !=0:
        print(i**2)

1
9
25
49
81

In [30]:
A = [1,2,3,4,5,6,7,8,9,10]
ans = []
for i in A:
    if i%2 !=0:
        print(i**2)
        ans.append(i**2)
print(ans)

1
9
25
49
81
[1, 9, 25, 49, 81]

In [31]:
ans = [ele**2 for ele in A if ele%2 != 0]

print(ans)

[1, 9, 25, 49, 81]

In [33]:
A = [1,2,3,4,5,6,7,8,9,10]
ans = []
print(ans)
for i in A:
    if i%2 !=0:
        print(i**2)
        ans.append(i**2)
        print(ans)

[]
1
[1]
9
[1, 9]
25
[1, 9, 25]
49
[1, 9, 25, 49]
81
[1, 9, 25, 49, 81]

In [35]:
A = [1,2,3,4,5,6,7,8,9,10]
ans = []

for i in A:
    if i%2 !=0:
        print(i**2)
        ans.append(i**2)
print(ans)

1
9
25
49
81
[1, 9, 25, 49, 81]

In [36]:
### count

In [37]:
A = [1,2,3,66,6,66,66]

In [39]:
A.count(1)

1

In [40]:
A.count(66)

3

In [41]:
A.count(999)

0

In [42]:
A = [1,2,3,4,5,6,7,[7,7],[7,7]]

In [43]:
A.count([7,7])

2

In [45]:
A.count(7)

1

In [47]:
A[-1].count(7)

2

In [48]:
A = [1,2,3,4,1,3,6,7,8]

for i in A:
    print(i, A.count(i))

1 2
2 1
3 2
4 1
1 2
3 2
6 1
7 1
8 1

In [49]:
A = [1,2,3,4,5,6,7,[7,7],[7,7]]

for i in A:
    print(i, A.count(i))

1 1
2 1
3 1
4 1
5 1
6 1
7 1
[7, 7] 2
[7, 7] 2

In [50]:
A = "pooja"

for i in A:
    print(i, A.count(i))

p 1
o 2
o 2
j 1
a 1

In [51]:
A = "pooja"

for i in A:
    print(i)

p
o
o
j
a

In [52]:
A = ["pooja", "pooja", "sureka"]

for i in A:
    print(i, A.count(i))

pooja 2
pooja 2
sureka 1

In [53]:
A = ["pooja", "Pooja", "sureka"]

for i in A:
    print(i, A.count(i))

pooja 1
Pooja 1
sureka 1

In [10]:
### extend

In [25]:
A = [1,2,3]
B = [4,5,6]

A+B

[1, 2, 3, 4, 5, 6]

In [26]:
A

[1, 2, 3]

In [27]:
A.extend(B) ### permanent operation, inplace operation

In [28]:
A

[1, 2, 3, 4, 5, 6]

In [29]:
B

[4, 5, 6]

In [30]:
A.append(B)

In [31]:
A

[1, 2, 3, 4, 5, 6, [4, 5, 6]]

In [32]:
A = [1,2,3]
B = [4,5,6]

print(A+B)
print("before assignment")
print(A)


A = A + B
print("before assignment")
print(A)

[1, 2, 3, 4, 5, 6]
before assignment
[1, 2, 3]
before assignment
[1, 2, 3, 4, 5, 6]

In [36]:
### index method

In [37]:
A = [1,2,3,56+2j, "pooja", 1+2j]

In [38]:
A.index("pooja")

4

In [41]:
### print the index of all the complex number:

for i in A:
    if type(i) == complex:
        print(i)

(56+2j)
(1+2j)

In [44]:
for i in A:
     print(i, type(i), A.index(i))

1 <class 'int'> 0
2 <class 'int'> 1
3 <class 'int'> 2
(56+2j) <class 'complex'> 3
pooja <class 'str'> 4
(1+2j) <class 'complex'> 5

In [45]:

for i in A:
    if type(i) == complex:
        print(A.index(i))

3
5

In [47]:
for i in A:
     print(f"Element:{i}   | Type:{type(i)}  | Index:{A.index(i)}")

Element:1   | Type:<class 'int'>  | Index:0
Element:2   | Type:<class 'int'>  | Index:1
Element:3   | Type:<class 'int'>  | Index:2
Element:(56+2j)   | Type:<class 'complex'>  | Index:3
Element:pooja   | Type:<class 'str'>  | Index:4
Element:(1+2j)   | Type:<class 'complex'>  | Index:5

In [48]:
for i in A:
    if type(i) == complex:
        print(f"Element:{i}   | Type:{type(i)}  | Index:{A.index(i)}")

Element:(56+2j)   | Type:<class 'complex'>  | Index:3
Element:(1+2j)   | Type:<class 'complex'>  | Index:5

In [49]:
for i in A:
    if type(i) == int:
        print(f"Element:{i}   | Type:{type(i)}  | Index:{A.index(i)}")

Element:1   | Type:<class 'int'>  | Index:0
Element:2   | Type:<class 'int'>  | Index:1
Element:3   | Type:<class 'int'>  | Index:2

In [50]:
for i in A:
    if type(i) == str:
        print(f"Element:{i}   | Type:{type(i)}  | Index:{A.index(i)}")

Element:pooja   | Type:<class 'str'>  | Index:4

In [51]:
for i in A:
    ###if type(i) == complex:
    if isinstance(i, complex):
        print(f"Element:{i}   | Type:{type(i)}  | Index:{A.index(i)}")

Element:(56+2j)   | Type:<class 'complex'>  | Index:3
Element:(1+2j)   | Type:<class 'complex'>  | Index:5

In [52]:
### isinstance

In [53]:
for i in A:
    ###if type(i) == complex:
    if isinstance(i, complex):
        print(f"Element:{i}   | Type:{type(i)}  | Index:{A.index(i)}")

Element:(56+2j)   | Type:<class 'complex'>  | Index:3
Element:(1+2j)   | Type:<class 'complex'>  | Index:5

In [54]:
for i in A:
    ###if type(i) == complex:
    if isinstance(i, str):
        print(f"Element:{i}   | Type:{type(i)}  | Index:{A.index(i)}")

Element:pooja   | Type:<class 'str'>  | Index:4

In [56]:
for i in A:
    ###if type(i) == complex:
    if isinstance(i, int):
        print(f"Element:{i}   | Type:{type(i)}  | Index:{A.index(i)}")

Element:1   | Type:<class 'int'>  | Index:0
Element:2   | Type:<class 'int'>  | Index:1
Element:3   | Type:<class 'int'>  | Index:2

In [58]:
### print the index of all the complex number as well as int alse:

for i in A:
    ###if type(i) == complex:
    if isinstance(i, int) or isinstance(i, complex):
        print(f"Element:{i}   | Type:{type(i)}  | Index:{A.index(i)}")

Element:1   | Type:<class 'int'>  | Index:0
Element:2   | Type:<class 'int'>  | Index:1
Element:3   | Type:<class 'int'>  | Index:2
Element:(56+2j)   | Type:<class 'complex'>  | Index:3
Element:(1+2j)   | Type:<class 'complex'>  | Index:5

In [57]:
for i in A:
    if type(i) == str or type(i) == int:
        print(f"Element:{i}   | Type:{type(i)}  | Index:{A.index(i)}")

Element:1   | Type:<class 'int'>  | Index:0
Element:2   | Type:<class 'int'>  | Index:1
Element:3   | Type:<class 'int'>  | Index:2
Element:pooja   | Type:<class 'str'>  | Index:4

In [60]:
### print the index of all the complex number as well as int alse:

for i in A:
    ###if type(i) == complex:
    if isinstance(i, (complex,int)) :   ### OR CASE
        print(f"Element:{i}   | Type:{type(i)}  | Index:{A.index(i)}")

Element:1   | Type:<class 'int'>  | Index:0
Element:2   | Type:<class 'int'>  | Index:1
Element:3   | Type:<class 'int'>  | Index:2
Element:(56+2j)   | Type:<class 'complex'>  | Index:3
Element:(1+2j)   | Type:<class 'complex'>  | Index:5

In [61]:
ans = [i for i in A if isinstance(i, complex)]
ans

[(56+2j), (1+2j)]

In [63]:
ans = [i for i in A if  type(i) == complex]
ans

[(56+2j), (1+2j)]

In [65]:
### index in case of duplicates element
A = [1,3,5,6,7,8,9,6,8,6]

A.index(6)

3

In [66]:
A = [1,2,3,[4,5,6],7,8,9]

In [69]:
A[3].index(5)

1

In [70]:
A = [1,5,3,[4,5,6],7,8,9]

In [72]:
A.index(5)

1

In [73]:
A[3].index(5)

1

In [74]:
### insert

In [75]:
A = [1,2,3,4,5]

In [77]:
A.append(7)

In [78]:
A

[1, 2, 3, 4, 5, 7]

In [81]:
### (index, value)
A.insert(2,999)

In [80]:
A

[1, 2, 999, 3, 4, 5, 7]

In [82]:
A.insert(200000,999)

In [83]:
A

[1, 2, 999, 999, 3, 4, 5, 7, 999]

In [84]:
A.insert(-200000,999)

In [85]:
A

[999, 1, 2, 999, 999, 3, 4, 5, 7, 999]

In [88]:
A = [1,2,3]

len(A)

3

In [89]:
A.insert(15,8)

In [90]:
A

[1, 2, 3, 8]

In [91]:
len(A)

4

In [95]:
A.insert(0, "POOJA")

In [96]:
A

['POOJA', 1, 2, 3, 8]

In [97]:
A.insert(0, [1,2,3])

In [99]:
A

[[1, 2, 3], 'POOJA', 1, 2, 3, 8]

In [101]:
A.index("POOJA")

1

In [102]:
A.index(1)

2

In [103]:
A[0].index(1)

0

In [104]:
### remove

In [105]:
A = [1,2,34,567,897,78,86]

In [106]:
A.remove(567)

In [107]:
A

[1, 2, 34, 897, 78, 86]

In [108]:
A = [1,2,34,567,897,78,86, 897]

In [110]:
A.remove(897)

In [114]:
A

[1, 2, 34, 567, 78, 86]

In [115]:
A.pop(-1)

86

In [116]:
A

[1, 2, 34, 567, 78]

In [119]:
###  This removes the last element
A.pop()

567

In [118]:
A

[1, 2, 34, 567]

In [123]:
### Tuples

### tuples are immutable

In [135]:
A =(1,2,3)

In [136]:
type(A)

tuple

In [137]:
A[1]

2

In [138]:
### convert it into list and then return the sorted list
sorted(A)

[1, 2, 3]

In [139]:
A

(1, 2, 3)

In [140]:
A = sorted(A)

In [141]:
A

[1, 2, 3]

In [142]:
A.append(67)

In [143]:
A

[1, 2, 3, 67]

In [184]:
A =(66,89,90)

In [185]:
len(A)

3

In [186]:
A * 2

(66, 89, 90, 66, 89, 90)

In [187]:
A

(66, 89, 90)

In [188]:
A = A * 2

In [189]:
A

(66, 89, 90, 66, 89, 90)

In [190]:
type(A)

tuple

In [191]:
A = (45,89,89.55)

In [172]:
max(A)

89.55

In [173]:
min(A)

45

In [176]:
### to check index of the value
A.index(89)

1

In [177]:
sum(A)

223.55

In [181]:
A.reverse()

In [182]:
A

[45, 89, 89.55]

In [197]:
amazon_cart = [("watch", 5000), ("phone", 10000), ("laptop", 50000)]

type(amazon_cart)

list

In [209]:
A

(45, 89, 89.55)

In [210]:
A[1:]

(89, 89.55)

In [217]:
A

(45, 89, 89.55)

In [213]:
A[::-1]

(89.55, 89, 45)

In [216]:
A[::-1]

(89.55, 89, 45)

In [222]:
amazon_cart = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 3000)]

total_cost = 0
print(f"empty cart: {total_cost}")

for i in amazon_cart:
    print(i[0], i[1])
    total_cost = total_cost + i[1]
    print(f"cart after adding {i[0]}: {total_cost}")
print(f"Total price to be paid for the amazon cart: {total_cost}")

empty cart: 0
watch 5000
cart after adding watch: 5000
phone 10000
cart after adding phone: 15000
laptop 50000
cart after adding laptop: 65000
shirt 3000
cart after adding shirt: 68000
Total price to be paid for the amazon cart: 68000

In [231]:
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 3000)]

my_choice = input("What do you want to purchase:")


for i in amazon_website:
    if i[0] == my_choice:
        print(i)
    else:
        print("out of stock")

out of stock
('phone', 10000)
out of stock
out of stock

In [233]:
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 3000)]

my_choice = input("What do you want to purchase:")



for i in amazon_website:
    if i[0] == my_choice:
        print(i)

('phone', 10000)

In [237]:
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 3000)]

my_choice = input("What do you want to purchase:")

total_cost = 0

for i in amazon_website:
    if i[0] == my_choice:
        total_cost = total_cost + i[1]
        print(total_cost)
    else:
        print("Item is out os stock")

Item is out os stock
10000
Item is out os stock
Item is out os stock

In [239]:
### Sets- unordered collection of unique elements

In [245]:
x = {1,2,3,66,7}

In [246]:
x

{1, 2, 3, 7, 66}

In [241]:
type(x)

set

In [242]:
x = {1,2,3,66,7,7,77}

In [244]:
x

{1, 2, 3, 7, 66, 77}

In [247]:
x = set()
type(x)

set

In [248]:
x = {}
type(x)

dict

In [255]:
x = set()
type(x)

set

In [249]:
x = []
type(x)

list

In [252]:
x = tuple()

In [254]:
x

()

In [256]:
x = list()
type(x)

list

In [257]:
x = {8,6,0,4,9}

In [262]:
### Not allowed as set is unordered

x

{0, 4, 6, 8, 9}

In [263]:
x = {8,6,0,4,9, "pooja"}

In [264]:
x

{0, 4, 6, 8, 9, 'pooja'}

In [265]:
x.add(99)

In [266]:
x

{0, 4, 6, 8, 9, 99, 'pooja'}

In [268]:
A = {1,2,3}
B = {4,5,6}

In [271]:
### print the unique values

A = [1,2,3,4,5,5,5,6,6,7,7,7]

In [272]:
A

[1, 2, 3, 4, 5, 5, 5, 6, 6, 7, 7, 7]

In [275]:
### return the list with unique elements
A = set(A)

In [276]:
A

{1, 2, 3, 4, 5, 6, 7}

In [277]:
A = list(set(A))

In [278]:
A

[1, 2, 3, 4, 5, 6, 7]

In [279]:
x

{0, 4, 6, 8, 9, 99, 'pooja'}

In [280]:
x.add(99+9j)

In [281]:
x

{(99+9j), 0, 4, 6, 8, 9, 99, 'pooja'}

In [283]:
x.add(-100)

In [284]:
x

{(99+9j), -100, 0, 4, 6, 8, 9, 99, 'pooja'}

In [286]:
x.add(20.2)

In [287]:
x

{(99+9j), -100, 0, 20.2, 4, 6, 8, 9, 99, 'pooja'}

In [288]:
x.add(40.2)

In [289]:
x

{(99+9j), -100, 0, 20.2, 4, 40.2, 6, 8, 9, 99, 'pooja'}

In [290]:
x.remove(-100)

In [291]:
x

{(99+9j), 0, 20.2, 4, 40.2, 6, 8, 9, 99, 'pooja'}

In [293]:
A = {1,2,3}
B = {4,5,6}

A.union(B)

{1, 2, 3, 4, 5, 6}

In [294]:
A = {1,2,3}
B = {1,5,6}

A.intersection(B)

{1}

In [296]:
A = {1,2,3}
B = {1,5,6,7,8,2,4,3}

A.issubset(B)

True

In [301]:
A = [1,2,3]

In [302]:
A[0]

1

In [303]:
A[1]

2

In [304]:
A[2]

3