In [26]:
### variable case sensitivity 
TEN = 10
ten = 20

## TEN and ten both are different in terms of lowercase and uppercase lettetrs

In [27]:
### we should not use reserve words as variables
## Also, python doesn't restrict the user to use keywords as variable names

In [28]:
## Multi assignment of variables
a, b, c, d  = 10, 20 , "Pooja", True

In [29]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'int'>
<class 'str'>
<class 'bool'>

In [30]:
print(a, b, c, d)

10 20 Pooja True

In [31]:
a = b= c = 10

In [32]:
a,b,c

(10, 10, 10)

In [33]:
## userinput
name = input("Enter your name:")
print(f"you name is {name}")

you name is pooja

In [34]:
A = input("Enter the value of A: ")
B = input("Enter the value of B: ")
print(f" sum of A and B is: {A+B}")

 sum of A and B is: 66

In [35]:
A = input("Enter the value of A: ")
B = input("Enter the value of B: ")
print(f" sum of A and B is: {A+B}")

 sum of A and B is: 78

In [36]:
A = int(input("Enter the value of A: "))
B = int(input("Enter the value of B: "))
print(f" sum of A and B is: {A+B}")

 sum of A and B is: 17

In [37]:
A = float(input("Enter the value of A: "))
B = float(input("Enter the value of B: "))
print(f" sum of A and B is: {A+B}")

 sum of A and B is: 8.0

In [38]:
### type coversion
#STRING TO INTEGER

A= "50"
print(f"data type before: {type(A)}, Value of A: {A} ")
A= int(A)
print(f"data type after: {type(A)}, Value of A: {A}")

data type before: <class 'str'>, Value of A: 50
data type after: <class 'int'>, Value of A: 50

In [39]:
# FLOAT TO INTEGER

A= 50.22
print(f"data type before: {type(A)}, Value of A: {A}")
A= int(A)
print(f"data type after: {type(A)}, Value of A: {A}")

data type before: <class 'float'>, Value of A: 50.22
data type after: <class 'int'>, Value of A: 50

In [40]:
# INTEGER TO BOOLEAN

A= 10
print(f"data type before: {type(A)}, Value of A: {A}")
A= bool(A)
print(f"data type after: {type(A)}, Value of A: {A}")

data type before: <class 'int'>, Value of A: 10
data type after: <class 'bool'>, Value of A: True

In [41]:
# INTEGER TO BOOLEAN

A= 0
print(f"data type before: {type(A)}, Value of A: {A}")
A= bool(A)
print(f"data type after: {type(A)}, Value of A: {A}")

data type before: <class 'int'>, Value of A: 0
data type after: <class 'bool'>, Value of A: False

In [69]:
# INTEGER TO BOOLEAN

A= 1
print(f"data type before: {type(A)}, Value of A: {A}")
A= bool(A)
print(f"data type after: {type(A)}, Value of A: {A}")

data type before: <class 'int'>, Value of A: 1
data type after: <class 'bool'>, Value of A: True

In [42]:
# INTEGER TO BOOLEAN

A= -5
print(f"data type before: {type(A)}, Value of A: {A}")
A= bool(A)
print(f"data type after: {type(A)}, Value of A: {A}")

data type before: <class 'int'>, Value of A: -5
data type after: <class 'bool'>, Value of A: True

In [43]:
# STRING TO BOOLEAN

A= "Pooja"
print(f"data type before: {type(A)}, Value of A: {A}")
A= bool(A)
print(f"data type after: {type(A)}, Value of A: {A}")

data type before: <class 'str'>, Value of A: Pooja
data type after: <class 'bool'>, Value of A: True

In [44]:
# STRING TO BOOLEAN

A= "True"
print(f"data type before: {type(A)}, Value of A: {A}")
A= bool(A)
print(f"data type after: {type(A)}, Value of A: {A}")

data type before: <class 'str'>, Value of A: True
data type after: <class 'bool'>, Value of A: True

In [45]:
# STRING TO BOOLEAN

A= "False"
print(f"data type before: {type(A)}, Value of A: {A}")
A= bool(A)
print(f"data type after: {type(A)}, Value of A: {A}")

data type before: <class 'str'>, Value of A: False
data type after: <class 'bool'>, Value of A: True

In [46]:
# STRING TO BOOLEAN

A= False
print(f"data type before: {type(A)}, Value of A: {A}")
A= bool(A)
print(f"data type after: {type(A)}, Value of A: {A}")

data type before: <class 'bool'>, Value of A: False
data type after: <class 'bool'>, Value of A: False

In [47]:
# EMPTY STRING TO BOOLEAN(space)

A= " "
print(f"data type before: {type(A)}, Value of A: {A}")
A= bool(A)
print(f"data type after: {type(A)}, Value of A: {A}")

data type before: <class 'str'>, Value of A:
data type after: <class 'bool'>, Value of A: True

In [71]:
# EMPTY STRING TO BOOLEAN

A= ""
print(f"data type before: {type(A)}, Value of A: {A}")
A= bool(A)
print(f"data type after: {type(A)}, Value of A: {A}")

data type before: <class 'str'>, Value of A:
data type after: <class 'bool'>, Value of A: False

In [50]:
firstname, middlename, lastname = "pooja", "kumari", "sureka"

In [52]:
print(f"my mail id id {firstname}.{lastname}@gmail.com         ")

my mail id id pooja.sureka@gmail.com

In [58]:
name, place, year_of_birth = "pooja", "Palamu", 1998

In [59]:
print(f"""
my name is{name}
I live in {place}
my year of birth is {year_of_birth}
""")

my name ispooja
I live in Palamu
my year of birth is 1998

In [68]:
name = input("name:")
place = input("place:")
year_of_birth = int(input("year_of_birth:"))
current_year = int(input("current year: ")) 
age = current_year - year_of_birth

print(name)
print(place)
print(year_of_birth)
print(age)

pooja
palamu
1998
24

In [72]:
## True in binary = 1
### False in binary = 0

## converting any non-zero number and string values into boolean will give true as an answer
# empty string "" will give False an an answer after converting string to a boolean
# empty string  with space " " will give True an an answer after converting string to a boolean

In [73]:
## MEMORY BLOCK

In [74]:
a = 22
b = 9
c = 22

In [75]:
id(a) ### memory address

140709043959240

In [76]:
id(b)

140709043958824

In [77]:
id(c)

140709043959240

In [80]:
c = 22+19

In [81]:
id(c)

140709043959848

In [82]:
a = 22
id(a)

140709043959240

In [83]:
a = 99
id(a)

140709043961704

In [84]:
## memory is assigned to the value of variable passed not the variable name

In [85]:
a = 22
b = 9
c = 22

print(id(a), id(b), id(c))

140709043959240 140709043958824 140709043959240

In [86]:
a = "pooja"
b = 9
c = "pooja"

print(id(a), id(b), id(c))

2242150777136 140709043958824 2242150777136

In [87]:
a = "p"
b = 9
c = "p"

print(id(a), id(b), id(c))

140709042527736 140709043958824 140709042527736

In [89]:
a = 12.98
b = 9
c = 6

print(id(a), id(b), id(c))

2242156066736 140709043958824 140709043958728